/* Reset de CSS */
*{
    margin: 0;
    padding:0;
}
/* Configuracion del color de fondo y orden del header */
header{
    display:flex;
    padding: 10px 30px;
    background-color: #212121;
    justify-content: space-between;
    align-items: center;   
}
.img_logo{
    max-width: 100%;
    min-width: 20%;
}
/*configuracion del menu en el header*/
header nav{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
}
header nav ul li a{
        text-decoration: none;
        font-weight: 600;
        color:azure;
}
header nav ul li a:visited{
        color: antiquewhite;
}
header nav ul li a:hover{
        color: rgb(115, 57, 223);
}
header nav ul li.submenu{
    position: relative;
}
header nav ul li.submenu > ul{
    display: none;
    position:absolute;
    top:11px;
    left:5px;
    width: 180px;
    padding: 13px;
}
header nav ul li.submenu:hover > ul{
    display: block;
}
/*Configuracion del menu Hamburguesa */
header .hamburguesa{
    color: antiquewhite;
    padding: 5px;
    font-size: 20px;
    display:none;
}
/* Configuracion del Body de las diferentes paginas */
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #212121; 
}
/* Tamaños titulos */
h1{
    font-size: 3.7em;
    font-weight: 600;
    text-transform: uppercase;
}
h2{
    font-size: 2.4em;
    font-weight: 500;
    text-transform: uppercase;
}
h3{
    font-size: 1.8em;
    text-transform: uppercase;
}
h4{
    font-size: 1.4em;
    text-transform: uppercase;
}
/*INDEX */
/* Banda superior de color negro en el body del Index */
.highsquare{
    background-color: #000000;
}
/*Configuracion de la posicion de las imagenes*/
.center{
    display: grid;
    place-items: center;
}
.center_grid{
    display: grid;
    place-items: center;
    grid-template-areas: 
    "organic hardsurface"
    ;
}
/* Para que los textos queden sobre las imagenes */
.text_over_img{
    position: relative; /* Necesario para que el texto absoluto se posicione dentro de este div */
    display: inline-block; /* Ocupa el espacio de la imagen */
}
.text_over_img img{
    display: block; /* Elimina espacio extra debajo de la imagen */
}
.txt_superpuesto{
    position: absolute;
    top: 10%; /* Posicion vertical */
    left: 5%; /* Posicion horizontal */
    text-align: left;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(75, 47, 153); /* Color del texto */
    z-index: 2; /* Se asegura que el texto esté encima de todo */
}
.box_invisible{       
    text-align: left;
}
.img_ajustada_high{
    width: 900px;
    height: 300px;
    object-fit: cover; /* La imagen se recorta para cubrir el contenedor */
    object-position: 50% 50%; /* El centro de la imagen se alinea al 50% del ancho y 75% de la altura */
}
/*GENERAL PORTFOLIO*/
.edit_text{
    padding: 30px;
    color: azure;
    text-align: left;
}
.gallery{
    display: grid;
    grid-template-columns:repeat(4, 300px);
    gap: 5px;
    grid-template-areas: 
    "portafolio1 portafolio2 portafolio3 portafolio4"
    "portafolio5 portafolio6 portafolio7 portafolio8"
    "portafolio9 portafolio10 portafolio11 portafolio12";
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}
/* Ajuste para el tamaño de las imagenes del Portfolio General */
.img_ajustada_port{
    width: 300px;
    height: 300px;
    object-fit: cover; /* La imagen se recorta para cubrir el contenedor */
    object-position: 50% 50%; /* El centro de la imagen se alinea al 50% del ancho y 75% de la altura*/
}
.triciclo{
    grid-area: portafolio1;
}
.auto{
    grid-area: portafolio2;
}
.mario{
    grid-area: portafolio3;
}
.pizzeria_otro{
    grid-area: portafolio4;
}
.pizzeria{
    grid-area: portafolio5;
}
.bota{
    grid-area: portafolio6;
}
.electrica{
    grid-area: portafolio7;
}
.chancador{
    grid-area: portafolio8;
}
/*ORGANIZACION DE ESPACIOS GALERIAS HARDSURFACE, ORGANIC y HIGHLIGHTED*/
.config_txt{
    padding: 10%;
}
/*Contenedores*/
.box_txt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    color: antiquewhite;
    grid-area: texto;
}
.box_img{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    grid-area: imagen;
}
.box_img1{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    grid-area: imagen1;
}
.box_img2{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    grid-area: imagen2;
}
/*Posiciones en pantalla*/
.row_txt_img{
    display: grid;
    grid-template-columns: 500px 1000px;
    grid-template-areas: 
    "texto imagen"
    ;
    width: 100%;
    justify-content: center;
}
.row_img_txt{
    display: grid;
    grid-template-columns: 1000px 500px;
    grid-template-areas: 
    "imagen texto"
    ;
    width: 100%;
    justify-content: center;
}
.row_img1_img2_txt{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-areas: 
    "imagen1 imagen2 texto"
    ;
    width: 100%;
    justify-content: center;
}
/*Tamaño imagenes en PC*/
.comun_img{
    max-width: 1000px;
    max-height: 600px;
    object-fit: cover;
}
/*FORMULARIO DE CONTACTO */
.formulario_contacto{
    border-radius: 5px;
    position: relative;
    text-align: left;
    ul {
        list-style: none;
    }
}
/*RESPONSIVO */
@media (max-width:1800px){
    .center_grid{
    display: grid;
    place-items: center;
    grid-template-areas: 
    "organic"
    "hardsurface"
    ;
    }
}
@media (max-width:991px){
    .img_ajustada_high{
        width: 500px;
        height: 250px;
        object-fit: cover; /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%; /* El centro de la imagen se alinea al 50% del ancho y 75% de la altura */
    }
    .config_txt{
    padding: 5%;
    }
    h4{
    font-size: 1.1em;
    }
    P{
        font-size: 0.8em;
    }
    /* Ajuste para la grilla del Portfolio General */
    .gallery{
        grid-template-columns: repeat(3, 200px);
        grid-template-areas: 
        "portafolio1 portafolio2 portafolio3"
        "portafolio4 portafolio5 portafolio6" 
        "portafolio7 portafolio8 portafolio9"
        "portafolio10 portafolio11 portafolio12";
        width: 100%;
        justify-content: center;
    }
    /* Ajuste para imagenes del Portfolio General */
    .img_ajustada_port{
    width: 200px;
    height: 200px;
    object-fit: cover; /* La imagen se recorta para cubrir el contenedor */
    object-position: 50% 50%; /* El centro de la imagen se alinea al 50% del ancho y 75% de la altura*/
    }
    /*Oculta el menu mientras se muestra el icono de menú hamburguesa en el header*/   
    header nav{
        display:none;
    }
    header .hamburguesa{
        display:block;
    }
    /*Ajuste para imagenes del Portfolio Hardsurface, Highlighted y Organic. Tamaño imagenes en 991*/
    .comun_img{
        max-width: 500px;
        max-height: 300px;
        object-fit: cover;
    }
}
@media (max-width:576px){
    /* Ajuste para la grilla del Portfolio General */
    .gallery{
        grid-template-columns: repeat(2, 150px);
        grid-template-areas: 
        "portafolio1 portafolio2"
        "portafolio3 portafolio4"
        "portafolio5 portafolio6" 
        "portafolio7 portafolio8" 
        "portafolio9 portafolio10"
        "portafolio11 portafolio12";
        width: 100%;
        justify-content: center;
    }
    /* Ajuste para imagenes del Portfolio General */
    .img_ajustada_port{
        width: 150px;
        height: 150px;
        object-fit: cover; /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%; /* El centro de la imagen se alinea al 50% del ancho y 75% de la altura*/
    }
    /*Ajuste para imagenes del Portfolio Hardsurface, Highlighted y Organic. Tamaño imagenes en 576*/
    .comun_img{
        max-width: 300px;
        max-height: 150px;
        object-fit: cover;
    }
}