@use '../base/variables' as v;


/*Centra con grid*/
%center {
    display: grid;
    place-items: center;
}

/*Centra con flex*/
%center_flex{
    display: flex;
    justify-content: center;
    align-content: center;
}

/*Margenes de Text Box - HrdSurface - Highlight*/
%HS_h4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

%HS_p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}