@use "sass:map";
@use '../utilities/mixin' as mix;
@use '../utilities/maps';

%center {
    /*Centra con grid*/
    display: grid;
    place-items: center;
}

%center_flex{
    /*Centra con flex*/
    display: flex;
    justify-content: center;
    align-content: center;
}

%HS_h4 {
    /*Margenes de Text Box - HrdSurface - Highlight*/
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

%HS_p {
    /*Margenes de Text Box - HrdSurface - Highlight*/
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

%edit_links_gral {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: map.get(maps.$colores,lnk_color);
    &:visited {
        color: map.get(maps.$colores,used);
    }

    &:hover {
        color: map.get(maps.$colores,mora);
    }
    &:active {
        background-color: map.get(maps.$colores,highsq_back);
        font-weight: bolder;
    }
}