$colores: (
    mora: rgb(139, 50, 241),
    used: #faebd7,
    txt: azure,
    back: #212121,
    highsq_back: #000000,
    transp: rgba(0, 0, 0, 0.4),
    focus: bisque,
    lnk_color: rgb(163, 202, 223)
);

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);
