@use '../base/variables' as v;
@use '../utilities/extend';

@mixin box_txt ($direction, $align, $width, $marg_top) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: center;
    width: $width;
    height: 100%;
    grid-area: texto;
    margin-top: $marg_top;
    color: v.$used;

    h4 {
        margin-left: 1.0rem;
        margin-right: 1.5rem;
    }

    p {
        margin-left: 1.0rem;
        margin-right: 1.5rem;
    }
}