@use "sass:map";
@use '../utilities/maps';

@mixin box_txt ($direction, $align, $width, $marg_top, $fnt_size) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: center;
    width: $width;
    height: 100%;
    grid-area: texto;
    margin-top: $marg_top;
    color: map.get(maps.$colores,used);
    h2 {
        margin-left: 0.8rem;
        margin-right: 1.5rem;
    }
    h3 {
        margin-left: 0.8rem;
        margin-right: 1.5rem;
    }
    h4 {
        margin-left: 0.8rem;
        margin-right: 1.5rem;
    }

    p {
        font-size: $fnt_size;
        margin-left: 0.8rem;
        margin-right: 1.5rem;
    }
}

/* Ajuste para imagenes del Portfolio General */
@mixin ajuste_de_imagen($width, $height, $alin1, $alin2) {
    width: $width;
    height: $height;
    object-fit: cover;
    /* La imagen se recorta para cubrir el contenedor */
    object-position: $alin1 $alin2;
    /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura*/
}



@mixin box_img ($height, $justify, $grd_area, $max_w, $max_h){
    display: flex;
    width: 100%;
    height: $height;
    justify-content: $justify;
    align-items: center;
    grid-area: $grd_area;

    .comun_img {
        max-width: $max_w;
        max-height: $max_h;
        object-fit: cover;
    }
}

/*  FUTUROS MIXINS


@mixin row_txt_img ($col1, $col2, $margin) {
    display: grid;
    grid-template-columns: $col1 $col2;
    grid-template-areas:
        "texto imagen"
    ;
    width: 100%;
    justify-content: center;
    margin: $margin 0 $margin 0;

@mixin row_img_txt ($col3, $col4, $margin){
    display: grid;
    grid-template-columns: $col3 $col4;
    grid-template-areas:
        "imagen texto"
    ;
    width: 100%;
    justify-content: center;
    argin: $margin 0 $margin 0;

*/