@use '../utilities/extend';

/* -------------FOOTER---------------*/
footer{
    .container{
        .row{
            .col{
                .center{
                    margin: 2rem 2rem 0rem 2rem;
                    @extend %center;
                    div{
                        .icon {
                            height: 45px;
                        }
                    }
                    span {
                        color: azure;
                    }
                }
            }
        }
    }
}


