/* -------------FOOTER---------------*/
footer{
    .container{
        .row{
            .col{
                .center{
                    div{
                        .icon {
                            height: 45px;
                        }
                    }
                    span {
                        color: azure;
                    }
                }
            }
        }
    }
}


