/* -------------HEADER-------------- */
header {
    display: flex;
    padding: 10px 30px;
    background-color: #212121;
    justify-content: space-between;
    align-items: center;

    .img_logo {
    max-width: 95%;
    min-width: 20%;
    }
    
    .menu_completo {
        position: relative;
        display: inline-block;

        /*Configuracion del menu Hamburguesa */
        .abrir_menu {
            display: none;
            border: 0;
            color: azure;
            font-size: 1.8rem;
            background-color: transparent;
        }
            
        /*configuracion del menu en el header*/
        .nav {
            display: flex;
            align-items: center;
            z-index: 999;
            
            .cerrar_menu {
                display: none;
                border: 0;
                color: azure;
                font-size: 1.8rem;
                background-color: transparent;
            }
            
            .nav_list {
                display: flex;
                gap: 15px;
                list-style: none;

                /*configuracion del menu*/
                li{
                    a{
                        &:link {
                            text-decoration: none;
                            font-weight: 400;
                            color: azure;
                        }
                        &:visited {
                            color: antiquewhite;
                        }

                        &:hover {
                            color: rgb(166, 90, 253);
                        }

                        &:active {
                            background-color: rgb(0, 0, 0);
                            font-weight: bolder;
                        }
                    }
                }     

                .submenu {
                    position: relative;
                    
                    &>ul {
                        display: none;
                        position: absolute;
                        top: 10px;
                        left: 5px;
                        width: 180px;
                        padding: 11px;
                    }

                    &:hover>ul {
                        display: block;
                    }
                }
            }
        }
    }
}


