@use '../base/variables' as var;
@use '../utilities/extend' as ext;
/* -------------HEADER-------------- */
header {
    display: flex;
    padding: 10px 30px;
    background-color: var.$back;
    justify-content: space-between;
    align-items: center;

    .img_logo {
        min-width: 100%;
        min-height: 100%;
    }
    
    .menu_completo {
        position: relative;
        display: inline-block;

        /*Configuracion del menu Hamburguesa */
        .nav {
            display: flex;
            align-items: center;
            z-index: 999;
            
            .cerrar_menu {
                display: none;
            }
            
            .nav_list {
                display: flex;
                gap: 15px;
                list-style: none;

                /*configuracion del menu*/
                li{
                    a{
                        &:link {
                            text-decoration: none;
                            font-weight: 400;
                            color: var.$txt;
                        }
                        &:visited {
                            color: var.$used;
                        }

                        &:hover {
                            color: var.$mora;
                        }

                        &:active {
                            background-color: black;
                            font-weight: bolder;
                        }
                    }
                }     

                .submenu {
                    position: relative;
                    
                    &>ul {
                        display: none;
                        position: absolute;
                        top: 10px;
                        left: 5px;
                        width: 180px;
                        padding: 11px;
                    }

                    &:hover>ul {
                        display: block;
                    }
                }
            }
        }
    }
    .abrir_menu {
            display: none;
    }
}


