@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/* -------------MAIN-------------- */
main {

    .highsquare {
        /*CONFIGURACION DEL CUADRADO NEGRO SUPERIOR DE TODAS LAS PAGINAS*/
        background-color: #000000;
        padding: 10px 0px 10px 0px;
        color: v.$txt;

        /* Oculta el titulo del Index */
        #index_title {
            display: none;
        }

        .container-fluid {
            .row {
                .col {
                    .config_margin_txt {
                        h1 {
                            margin-left: 1.9rem;
                            margin-right: 1.0rem;
                        }

                        p {
                            margin-left: 3.9rem;
                            margin-right: 3.9rem;
                        }

                        div {
                            nav {
                                .links_internos {
                                    display: flex;
                                    list-style: none;
                                    gap: 20px;

                                    li {
                                        a {
                                            &:link {
                                                text-decoration: none;
                                                font-weight: 400;
                                                color: v.$txt;
                                            }

                                            &:visited {
                                                color: v.$used;
                                            }

                                            &:hover {
                                                color: v.$mora;
                                            }

                                            &:active {
                                                background-color: rgb(0, 0, 0);
                                                font-weight: bolder;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .center {
                        @extend %center;

                        .text_over_img {
                            position: relative;
                            /* Necesario para que el texto absoluto se posicione dentro de este div */
                            display: inline-block;
                            /* Ocupa el espacio de la imagen */

                            .txt_superpuesto {
                                position: absolute;
                                top: 10%;
                                /* Posicion vertical */
                                left: 5%;
                                /* Posicion horizontal */
                                text-align: left;
                                font-weight: bolder;
                                text-transform: uppercase;
                                color: v.$mora;
                                /* Color del texto */
                                z-index: 2;
                                /* Se asegura que el texto esté encima de todo */
                                background-color: rgba(0, 0, 0, 0.5);
                            }

                            .img_ajustada_high {
                                margin: 0%;
                                width: 100%;
                                height: 40vh;
                                object-fit: cover;
                                /* La imagen se recorta para cubrir el contenedor */
                                object-position: 45% 50%;
                                /* El centro de la imagen se alinea al 45% del ancho y 50% de la altura */
                            }
                        }
                    }
                }
            }
        }
    }

    section {
        .container {
            .row {
                .col {
                    .center_grid {
                        display: grid;
                        place-items: center;
                        grid-template-columns: 1fr 1fr;
                        gap: 0px;
                        /* La altura se ajusta al contenido */
                        grid-template-rows: auto;
                        grid-template-areas:
                            "organic hardsurface";

                        .organic_area {
                            grid-area: organic;
                        }

                        .hardsurface_area {
                            grid-area: hardsurface;
                        }

                        .text_over_img {
                            position: relative;
                            /* Necesario para que el texto absoluto se posicione dentro de este div */
                            display: inline-block;
                            /* Ocupa el espacio de la imagen */

                            .txt_superpuesto {
                                position: absolute;
                                top: 10%;
                                /* Posicion vertical */
                                left: 5%;
                                /* Posicion horizontal */
                                text-align: left;
                                font-weight: bolder;
                                text-transform: uppercase;
                                color: v.$mora;
                                /* Color del texto */
                                background-color: rgba(0, 0, 0, 0.4);
                                z-index: 2;
                                /* Se asegura que el texto esté encima de todo */

                            }

                            .img_ajustada_grid {
                                width: 100%;
                                height: 35vh;
                                object-fit: cover;
                                /* La imagen se recorta para cubrir el contenedor */
                                object-position: 50% 50%;
                                /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura */

                            }

                            img {
                                display: block;
                                /* Elimina espacio extra debajo de la imagen */
                            }
                        }
                    }

                    /*-----------------PORTFOLIO---------------*/
                    div {
                        .gallery {
                            /*CONFIGRUACION DEL MAIN DE PORTFOLIO GENERAL*/
                            display: grid;
                            grid-template-columns: repeat(4, 320px);
                            gap: 5px;
                            grid-template-areas:
                                "portafolio1 portafolio2 portafolio3 portafolio4"
                                "portafolio5 portafolio6 portafolio7 portafolio8"
                                "portafolio9 portafolio10 portafolio11 portafolio12";
                            width: 100%;
                            justify-content: center;
                            margin-top: 10px;


                            div {
                                .img_ajustada_port {
                                    /* Ajuste para el tamaño de las imagenes del Portfolio General */
                                    width: 100%;
                                    height: 300px;
                                    object-fit: cover;
                                    /* La imagen se recorta para cubrir el contenedor */
                                    object-position: 50% 50%;
                                    /* El centro de la imagen se alinea al 50% del ancho y 75% de la altura*/
                                }

                            }

                            .triciclo {
                                grid-area: portafolio1;
                            }

                            .auto {
                                grid-area: portafolio2;
                            }

                            .mario {
                                grid-area: portafolio3;
                            }

                            .pizzeria_otro {
                                grid-area: portafolio4;
                            }

                            .pizzeria {
                                grid-area: portafolio5;
                            }

                            .bota {
                                grid-area: portafolio6;
                            }

                            .electrica {
                                grid-area: portafolio7;
                            }

                            .chancador {
                                grid-area: portafolio8;
                            }
                        }
                    }

                    .config_flex {
                        /*------------------CLIENTS......................*/
                        display: flex;
                        justify-content: center;
                        padding: 0.1rem;

                        .box_txt_clients {
                            @include mix.box_txt(column, self-start, 40%, 0.8rem);
                        }


                        div {
                            width: 50%;
                            margin-top: 0.8rem;

                            .web_insert {
                                /*Ajuste posicion insert pagina web*/
                                width: 100%;
                                height: 60vh;
                            }
                        }

                        /*--------------ABOUT-----------------*/
                        .logo {
                            margin: 0.8rem;
                            width: 10%;

                            .image_about {
                                width: 100%;
                            }
                        }

                        .box_txt_about {
                            @include mix.box_txt(column, self-start, 70%, 0.8rem);
                        }
                    }

                    /*-------------ORGANIC-----------------*/
                    .mario {
                        .row_txt_img1 {
                            display: grid;
                            grid-template-columns: 400px 900px;
                            grid-template-areas:
                                "texto imagen1"
                            ;
                            width: 100%;
                            justify-content: center;
                            margin: 10px 0 10px 0;

                            .box_txt_1pj {
                                @include mix.box_txt(column, self-start, 400px, 0.5rem);
                            }

                            .box_img_tall_1 {
                                display: flex;
                                width: 100%;
                                height: 60vh;
                                justify-content: center;
                                grid-area: imagen1;

                                .tall_img_0 {
                                    max-width: 900px;
                                    max-height: 60vh;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    .seguridad {
                        .row_img1_img2_txt {
                            display: grid;
                            grid-template-columns: 400px 400px 400px;
                            grid-template-areas:
                                "imagen1 imagen2 texto"
                            ;
                            width: 100%;
                            justify-content: center;
                            margin: 10px 0 10px 0;

                            .box_txt_2pjs {
                                @include mix.box_txt(column, self-start, 400px, 0.5rem);
                            }

                            .box_img_tall_1 {
                                display: flex;
                                width: 100%;
                                height: 60vh;
                                justify-content: flex-start;
                                grid-area: imagen1;

                                .tall_img {
                                    max-width: 400px;
                                    max-height: 60vh;
                                    object-fit: cover;
                                }
                            }

                            .box_img_tall_2 {
                                display: flex;
                                width: 100%;
                                height: 60vh;
                                justify-content: flex-start;
                                grid-area: imagen2;

                                .tall_img {
                                    max-width: 400px;
                                    max-height: 60vh;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    /*--------------------HIGHLIGHTED--------------*/
                    .electrico {
                        .row_txt_img {
                            display: grid;
                            grid-template-columns: 400px 900px;
                            grid-template-areas:
                                "texto imagen"
                            ;
                            width: 100%;
                            justify-content: center;
                            margin: 10px 0 10px 0;

                            .box_txt {
                                @include mix.box_txt(column, center, 100%, 0.5rem);
                            }

                            .box_img {
                                display: flex;
                                width: 100%;
                                height: 40vh;
                                justify-content: center;
                                align-items: center;
                                grid-area: imagen;

                                .comun_img {
                                    max-width: 900px;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    .chancador {
                        .row_img_txt {
                            display: grid;
                            grid-template-columns: 900px 400px;
                            grid-template-areas:
                                "imagen texto"
                            ;
                            width: 100%;
                            justify-content: center;
                            margin: 10px 0 30px 0;

                            .box_txt {
                                @include mix.box_txt(column, center, 100%, 0.5rem);
                            }

                            .carousel {
                                .carousel-inner {
                                    .carousel-item {
                                        .box_img {
                                            display: flex;
                                            width: 100%;
                                            height: 40vh;
                                            justify-content: center;
                                            align-items: center;
                                            grid-area: imagen;

                                            .comun_img {
                                                max-width: 900px;
                                                max-height: 100%;
                                                object-fit: cover;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }

                    /*-------------------HARDSURFACE--------------------*/
                    .triciclo {
                        .row_txt_img {
                            display: grid;
                            grid-template-columns: 400px 900px;
                            grid-template-areas:
                                "texto imagen"
                            ;
                            width: 100%;
                            justify-content: center;
                            margin: 10px 0 10px 0;

                            .box_txt {
                                @include mix.box_txt(column, flex-start, 100%, 0.5rem);
                            }

                            .box_img {
                                display: flex;
                                width: 100%;
                                height: 40vh;
                                justify-content: center;
                                align-items: center;
                                grid-area: imagen;

                                .comun_img {
                                    max-width: 900px;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                    

                    .auto {
                        .row_img_txt {
                            display: grid;
                            grid-template-columns: 900px 400px;
                            grid-template-areas:
                                "imagen texto"
                            ;
                            width: 100%;
                            justify-content: center;
                            margin: 10px 0 10px 0;

                            .box_txt {
                                @include mix.box_txt(column, flex-start, 100%, 0.5rem);
                            }

                            .carousel {
                                .carousel-inner {
                                    .carousel-item {
                                        .box_img {
                                            display: flex;
                                            width: 100%;
                                            height: 40vh;
                                            justify-content: center;
                                            align-items: center;
                                            grid-area: imagen;

                                            .comun_img {
                                                max-width: 900px;
                                                max-height: 100%;
                                                object-fit: cover;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .pizzeria {
                        .row_txt_img {
                            display: grid;
                            grid-template-columns: 400px 900px;
                            grid-template-areas:
                                "texto imagen"
                            ;
                            width: 100%;
                            justify-content: center;
                            margin: 10px 0 10px 0;

                            .box_txt {
                                @include mix.box_txt(column, flex-start, 100%, 0.5rem);
                            }

                            .carousel {
                                .carousel-inner {
                                    .carousel-item {
                                        .box_img {
                                            display: flex;
                                            width: 100%;
                                            height: 40vh;
                                            justify-content: center;
                                            align-items: center;
                                            grid-area: imagen;

                                            .comun_img {
                                                max-width: 900px;
                                                max-height: 100%;
                                                object-fit: cover;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .torque {
                        .row_txt_img {
                            display: grid;
                            grid-template-columns: 400px 900px;
                            grid-template-areas:
                                "texto imagen"
                            ;
                            width: 100%;
                            justify-content: center;
                            margin: 10px 0 10px 0;

                            .box_txt {
                                @include mix.box_txt(column, flex-start, 100%, 0.5rem);
                            }

                            .box_img {
                                display: flex;
                                width: 100%;
                                height: 40vh;
                                justify-content: center;
                                align-items: center;
                                grid-area: imagen;

                                .comun_img {
                                    max-width: 900px;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    

                    .bota {
                        .row_img_txt {
                            display: grid;
                            grid-template-columns: 900px 400px;
                            grid-template-areas:
                                "imagen texto"
                            ;
                            width: 100%;
                            justify-content: center;
                            margin: 10px 0 10px 0;

                            .box_txt {
                                @include mix.box_txt(column, flex-start, 100%, 0.5rem);
                            }

                            .box_img {
                                display: flex;
                                width: 100%;
                                height: 40vh;
                                justify-content: center;
                                align-items: center;
                                grid-area: imagen;

                                .comun_img {
                                    max-width: 900px;
                                    max-height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    .flex_center{
                        @extend %center_flex;
                        div{
                            .form_contact {
                                /*-------------FORMULARIO DE CONTACTO----------------*/
                                border-radius: 5px;
                                position: relative;
                                text-align: lef;
                                max-width: 100%;
                                box-sizing: border-box;
                                /* Incluye padding y borde en el cálculo del ancho */
                                font-size: clamp(0.7rem, 0.9vw, 1.1rem);

                                input:focus {
                                    background-color: bisque;
                                }

                                ul {
                                    list-style: none;

                                    li {
                                        display: flex;
                                        padding: 1%;

                                        label {
                                            color: v.$used;
                                            width: 140px;

                                            .name::after {
                                                content: '*';
                                                color: brown;
                                            }

                                            .mail::after {
                                                content: '*';
                                                color: brown;
                                            }

                                            .subject::after {
                                                content: '*';
                                                color: brown;
                                            }

                                            .message::after {
                                                content: '*';
                                                color: brown;
                                            }
                                        }
                                    }
                                }
                            } 
                        }
    
                    }

                    /*--LINKS MAIN---*/
                    div {
                        .edit_links {
                            text-decoration: none;
                            font-size: small;
                            text-transform: uppercase;
                            font-weight: 500;
                            color: rgb(163, 202, 223);
                            text-align: left;
                            margin-bottom: 5px;

                            &:visited {
                                color: v.$used;
                            }

                            &:hover {
                                color: v.$mora;
                            }

                            &:active {
                                background-color: rgb(0, 0, 0);
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }
        }
    }
}