@use "sass:map";
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;
@use '../utilities/maps';

/* -------------MAIN-------------- */
main {
    .highsquare{
        /*CONFIGURACION DEL CUADRADO NEGRO SUPERIOR DE TODAS LAS PAGINAS*/
        background-color: map.get(maps.$colores, highsq_back);
        padding: 10px 0px 10px 0px;
        color: map.get(maps.$colores, txt);

        /* Oculta el titulo del Index */ 
        #index_h1 {
            Z-index: -1000;
            font-size: 0;
            color: map.get(maps.$colores, highsq_back);

        }

        .container-fluid {
            .row {
                .col {
                    .config_margin_txt {
                        display: flex;
                        padding: 0.5rem;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;

                        h1 {
                            margin-right: 0.5rem;
                        }

                        p {
                            margin-left: 1.9rem;
                            .edit_links {
                                /*--LINKS MAIN---*/
                                @extend %edit_links_gral;
                            }
                        }

                        div {
                            nav {
                                .links_internos {
                                    display: flex;
                                    list-style: none;
                                    gap: 20px;
                                    li {
                                        a {
                                            &:link {
                                                text-decoration: none;
                                                font-weight: 400;
                                                color: map.get(maps.$colores, txt);
                                            }

                                            &:visited {
                                                color: map.get(maps.$colores, used);
                                            }

                                            &:hover {
                                                color: map.get(maps.$colores, mora);
                                            }

                                            &:active {
                                                background-color: map.get(maps.$colores, highsq_back);
                                                font-weight: bolder;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .center {
                        @extend %center;

                        .text_over_img {
                            position: relative;
                            /* Necesario para que el texto absoluto se posicione dentro de este div */
                            display: inline-block;
                            /* Ocupa el espacio de la imagen */

                            .txt_superpuesto {
                                position: absolute;
                                top: 10%;
                                /* Posicion vertical */
                                left: 5%;
                                /* Posicion horizontal */
                                text-align: left;
                                font-weight: bolder;
                                text-transform: uppercase;
                                color: map.get(maps.$colores, mora);
                                /* Color del texto */
                                z-index: 2;
                                /* Se asegura que el texto esté encima de todo */
                                background-color: rgba(0, 0, 0, 0.6);
                            }
                            .card_highlight{
                                position: absolute;
                                top: 0.01%;
                                /* Posicion vertical */
                                left: 60vw;
                                width: 30vw;
                                height: 100%;
                                /* Posicion horizontal */
                                
                                font-weight: bolder;
                                color: map.get(maps.$colores, used);
                                overflow: hidden;
                                /* Color del texto */
                                z-index: 2;
                                /* Se asegura que el texto esté encima de todo */
                                background-color: map.get(maps.$colores, transp);
                                p{  
                                    text-align: left;
                                    font-size: x-large;
                                    padding: 2.5rem 6rem 2rem 2rem;
                                    margin: 2vw;
                                    width: 100%;
                                } 
                            }

                            .img_ajustada_high {
                                margin: 0%;
                                @include mix.ajuste_de_imagen(100%, 40vh, 45%, 50%);
                            }
                        }
                    }
                }
            }
        }
    }

    section {
        .container {
            .row {
                .col {
                    .center_grid {
                        /*---------------HOME MAIN------------*/
                        display: grid;
                        justify-content:space-evenly;
                        padding-top: 3rem;
                        grid-template-columns: auto auto auto;
                        grid-template-rows: auto auto;
                        grid-template-areas:
                            "about portfolio contact"
                            "organic hardsurface clients";

                        .about_area{
                            grid-area: about;    
                        }
                        .hardsurface_area{
                            grid-area: hardsurface;    
                        }
                        .portfolio_area{
                            grid-area: portfolio;    
                        }
                        .organic_area{
                            grid-area: organic;    
                        }
                        .client_area{
                            grid-area: clients;    
                        }
                        .contact_area{
                            grid-area: contact;    
                        }

                        .card {
                            width: 400px;
                            height: 300px;
                            margin: 1rem auto;
                            perspective: 1000px;
                            cursor: pointer;
                        }

                        .card-inner {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            transition: transform 0.6s;
                            transform-style: preserve-3d;
                        }

                        .card:hover .card-inner {
                            transform: rotateY(180deg);
                        }

                        .card-front,
                        .card-back {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            backface-visibility: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            border-radius: 0.05rem;
                        }

                        .card-front {
                            background: map.get(maps.$colores, used);
                            border: 0.1px map.get(maps.$colores, transp);
                        }

                        .card-back {
                            background: map.get(maps.$colores, card-back);
                            color: map.get(maps.$colores, txt);
                            transform: rotateY(180deg);
                            p{
                                margin: 1.0rem;
                                a{
                                    @extend %edit_links_gral;
                                }     
                            }    
                        }

                        .text_over_img {
                            position: relative;
                            /* Necesario para que el texto absoluto se posicione dentro de este div */
                            display: inline-block;
                            /* Ocupa el espacio de la imagen */

                            .txt_superpuesto {
                                position: absolute;
                                top: 5%;
                                /* Posicion vertical */
                                left: 5%;
                                /* Posicion horizontal */
                                text-align: left;
                                font-weight: bolder;
                                font-size: x-large;
                                text-transform: uppercase;
                                color: map.get(maps.$colores, violeta);
                                /* Color del texto */
                                background-color: map.get(maps.$colores, back_txt_sup);
                                z-index: 2;
                                backface-visibility: hidden;
                                /* Se asegura que el texto esté encima de todo */

                            }

                            .img_ajustada_grid {
                                @include mix.ajuste_de_imagen(100%, 100%, 50%, 50%);
                            }

                            img {
                                display: block;
                                /* Elimina espacio extra debajo de la imagen */
                            }
                        }
                    }

                    div {
                        .gallery {
                            /*-------------PORTFOLIO GENERAL----------MAIN-----*/
                            display: grid;
                            padding-top: 3rem;
                            grid-template-columns: repeat(4, 320px);
                            gap: 5px;
                            grid-template-areas:
                                "portafolio1 portafolio2 portafolio3 portafolio4"
                                "portafolio5 portafolio6 portafolio7 portafolio8"
                                "portafolio9 portafolio10 portafolio11 portafolio12";
                            width: 100%;
                            justify-content: center;


                            div {
                                .img_ajustada_port {
                                    @include mix.ajuste_de_imagen(100%, 300px, 50%, 50%);
                                }
                            }

                            .triciclo {
                                grid-area: portafolio1;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }

                            .auto {
                                grid-area: portafolio2;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }

                            .mario {
                                grid-area: portafolio3;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }

                            .pizzeria_otro {
                                grid-area: portafolio4;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }

                            .pizzeria {
                                grid-area: portafolio5;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }

                            .bota {
                                grid-area: portafolio6;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }

                            .electrica {
                                grid-area: portafolio7;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }

                            .chancador {
                                grid-area: portafolio8;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }
                            .chancador2 {
                                grid-area: portafolio9;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }
                            .accidente {
                                grid-area: portafolio10;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }
                            .galpon1 {
                                grid-area: portafolio11;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }
                            .galpon2 {
                                grid-area: portafolio12;
                                >:hover{
                                    animation: customAni 2s ease 0s infinite normal none;
                                }
                            }
                        }
                    }

                    .grid_container_hardsurface {
                        /*--------------------HARDSURFACE MAIN--------------*/
                        display: grid;
                        padding-top: 3rem;
                        column-gap: 0.5rem;
                        row-gap: 2rem;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: repeat(auto);
                        grid-template-areas:
                            "txt_triciclo img_triciclo img_triciclo"
                            "carousel_car carousel_car txt_auto"
                            "txt_pizzeria carousel_pizza carousel_pizza"
                            "img_bota img_bota txt_bota"
                            "txt_torque img_torque img_torque"
                            "carousel_galpon carousel_galpon txt_galpon"
                        ;
                        width: 100%;
                        justify-content: center;

                        .triciclo_txt {
                            @include mix.box_txt(column, flex-start, 100%, txt_triciclo, 0.1rem, larger);
                        }

                        .triciclo_img {
                            @include mix.box_img(100%, 100%, center, img_triciclo, 100%, 100%);
                            padding-bottom: 3rem;
                            border-bottom: 1px solid #999; /* Crea una línea solo abajo */
                        }

                        .auto_txt {
                            @include mix.box_txt(column, flex-start, 100%, txt_auto, 0.1rem, larger);
                        }

                        .automovil {
                            grid-area: carousel_car;
                            @extend %center_flex;
                            .carousel{
                                .carousel-inner {
                                    .carousel-item {
                                        .auto_img {
                                            min-height: 500px;
                                            @include mix.box_img(100%, 100%, center, img_auto, 100%, 500px);
                                            padding-bottom: 3rem;
                                            border-bottom: 1px solid #999; /* Crea una línea solo abajo */
                                        }
                                    }
                                }
                            }
                        }

                        .pizzeria_txt {
                            @include mix.box_txt(column, flex-start, 100%, txt_pizzeria, 0.1rem, larger);
                        }

                        .modelo_pizzeria {
                            grid-area: carousel_pizza;
                            @extend %center_flex;
                            .carousel{
                                .carousel-inner {
                                    .carousel-item {
                                        .pizzeria_img {
                                            @include mix.box_img(100%, 100%, center, img_pizzeria, 100%, 100%);
                                            padding-bottom: 3rem;
                                            border-bottom: 1px solid #999; /* Crea una línea solo abajo */
                                        }
                                    }
                                }
                            }
                        }

                        .bota_txt {
                            @include mix.box_txt(column, flex-start, 100%, txt_bota, 0.1rem, larger);
                        }

                        .bota_img {
                            @include mix.box_img(100%, 100%, center, img_bota, 100%, 500xp);
                            padding-bottom: 3rem;
                            border-bottom: 1px solid #999; /* Crea una línea solo abajo */
                        }

                        .torque_txt {
                            @include mix.box_txt(column, flex-start, 100%, txt_torque, 0.1rem, larger);
                        }

                        .torque_img {
                            @include mix.box_img(100%, 100%, center, img_torque, 100%, 100%);
                            border-bottom: 1px solid #999; /* Crea una línea solo abajo */
                        }

                        .galpon_txt {
                            @include mix.box_txt(column, flex-start, 100%, txt_galpon, 0.1rem, larger);
                        }                      
                        
                        .modelo_galpon {
                            grid-area: carousel_galpon;
                            @extend %center_flex;

                            .carousel{
                                .carousel-inner {
                                    .carousel-item {
                                        .galpon_img {
                                            @include mix.box_img(100%, 120%, center, img_galpon, 100%, 100%);                 
                                        }
                                    }
                                }
                            }
                        }
                        


                    }

                    .grid_container_organic {
                        /*---------------------ORGANIC--------------------------*/
                        padding-top: 3rem;
                        column-gap: 0.5rem;
                        row-gap: 3rem;
                        display: grid;
                        grid-template-columns: auto auto auto;
                        grid-template-rows: repeat(auto);
                        grid-template-areas:
                            "txt_mario txt_mario img_mario"
                            "img_seguridad1 img_seguridad2 txt_seguridad"
                        ;
                        width: 100%;
                        justify-content: center;

                        .mario_txt {
                            @include mix.box_txt(column, flex-start, 600px, txt_mario, 0.01rem, larger);
                        }

                        .mario_img {
                            @include mix.box_img(100%, 100%, center, img_mario, 100%, 600px);
                                padding-bottom: 3rem;
                                border-bottom: 1px solid #999; /* Crea una línea solo abajo */
                                width: 100%; /* O un % específico */
                                margin: 10px 0;

                        }

                        .seguridad_txt {
                            margin-left: 1rem;
                            @include mix.box_txt(column, flex-start, 600px, txt_seguridad, 0.01rem, larger);
                        }

                        .seguridad_img1 {
                            @include mix.box_img(100%, 300px, flex-start, img_seguridad1, 300px, 600px);
                        }

                        .seguridad_img2 {
                            @include mix.box_img(100%, 300px, flex-start, img_seguridad2, 300px, 600px);
                        }

                    }

                    .grid_container_highlighted {
                        /*--------------------HIGHLIGHTED--------------*/
                        padding-top: 3rem;
                        column-gap: 0.5rem;
                        row-gap: 2rem;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: repeat(auto);
                        grid-template-areas:
                            "txt_electrico img_electrico img_electrico"
                            "carousel_chancador carousel_chancador txt_chancador"
                            "txt_accidente img_accidente img_accidente"
                        ;
                        width: 100%;
                        justify-content: center;

                        .electrico_txt {
                            @include mix.box_txt(column, flex-start, 100%, txt_electrico, 0.1rem, larger);
                        }

                        .electrico_img {
                            @include mix.box_img(100%, 100%, center, img_electrico, 100%, 100%);
                            padding-bottom: 3rem;
                            border-bottom: 1px solid #999; /* Crea una línea solo abajo */
                        }

                        .chancador_txt {
                            @include mix.box_txt(column, flex-start, 100%, txt_chancador, 0.1rem, larger);
                        }

                        .carousel {
                            @extend %center_flex;
                            grid-area: carousel_chancador;

                            .carousel-inner {
                                .carousel-item {
                                    .chancador_img {
                                        @include mix.box_img(100%, 100%, center, img_chancador, 100%, 100%);
                                    }
                                }
                            }
                        }

                        .accidente_txt {
                            @include mix.box_txt(column, flex-start, 100%, txt_accidente, 0.1rem, larger);
                        }

                        .accidente_img {
                            @include mix.box_img(100%, 100%, center, img_accidente, 100%, 100%);
                            padding-bottom: 3rem;
                            border-bottom: 1px solid #999; /* Crea una línea solo abajo */
                        }
                    }

                    .config_flex_clients {
                        /*------------------CLIENTS.......MAIN..............*/
                        display: flex;
                        flex-direction: column;
                        padding-top: 3rem;
                        box-sizing: border-box;
                        row-gap: 2rem;
                        .cliente1{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .box_txt_cl_torque {
                                @include mix.box_txt (column, flex-start, 40vw, txt_clients, 0.1rem, larger);
                            }
                            div {
                                width: 60vw;
                                .web_insert {
                                    /*Ajuste posicion insert pagina web*/
                                    width: 100%;
                                    height: 50vh;
                                }
                            }
                        }
                        
                        .cliente2{
                            @extend %center_flex;
                            flex-direction: row-reverse;
                            .box_txt_cl_thone {
                                width: 40%;
                                @include mix.box_txt (column, flex-start, 40vw, txt_clients, 0.1rem, larger);
                            }
                            div {
                                width: 60vw;
                                .client1_img {  
                                    width: 95%;                                  
                                    max-height: 70vh;
                                }
                            }
                        }
                    }

                    .config_flex {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;

                        .logo {
                            /*--------------ABOUT-----------------*/
                            padding-top: 3rem;
                            margin: 0.8rem;
                            width: 10%;
                            

                            .image_about {
                                width: 100%;
                            }
                        }

                        .box_txt_about {
                            padding-top: 3rem;
                            .divisor-div {
                                height: 0; /* Sin altura propia */
                                border-bottom: 1px solid #999; /* Crea una línea solo abajo */
                                width: 100%; /* O un % específico */
                                margin: 2.0rem 0;
                                grid-area: "divisor";
                            }

                            @include mix.box_txt(column, flex-start, 70%, txt_about, 0.8rem, larger);
                            p {
                                margin-left: 0.5rem;
                                margin-right: 1.0rem;
                            }
                        }
                    }

                    .flex_center {
                        @extend %center_flex;

                        div {
                            .form_contact {
                                /*-------------FORMULARIO DE CONTACTO----------------*/
                                font-size: larger;
                                padding-top: 3rem;
                                position: relative;
                                text-align: left;
                                max-width: 100%;
                                box-sizing: border-box;
                                /* Incluye padding y borde en el cálculo del ancho */

                                input:focus {
                                    background-color: map.get(maps.$colores, focus);
                                }

                                ul {
                                    list-style: none;
                                    li {
                                        display: flex;
                                        label {
                                            font-size: larger;
                                            color: map.get(maps.$colores, used);
                                            width: 210px;

                                            .name::after {
                                                content: '*';
                                                color: brown;
                                            }

                                            .mail::after {
                                                content: '*';
                                                color: brown;
                                            }

                                            .subject::after {
                                                content: '*';
                                                color: brown;
                                            }

                                            .message::after {
                                                content: '*';
                                                color: brown;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .separacion{
                        padding-top: 3rem;
                    }
                    
                    div {
                        .edit_links_inicio {
                            /*--LINKS MAIN---*/
                            @extend %edit_links_gral;
                            font-size: medium;
                            text-align: left;
                            margin-left: 3.0rem;
                            font-size: medium;
                        }
                    }
                }
            }
        }
    }
}