@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------1024--------------------*/
@media (max-width:1024px) {
    /*-------------HEADER------------*/
    header {
        .menu_completo {
            min-width: 57%;
            .nav {
                .nav_list {
                    font-size: smaller;
                    .submenu {
                        &>ul {
                            font-size:smaller;
                        }
                    }
                }
            }
        }
    }

    
    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .config_margin_txt {
                            div {
                                nav {
                                    .links_internos {
                                        /*---------------MAIN 1024--------------------*/
                                        gap: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        section {
            .container {
                .row {
                    .col {
                        div{
                            .gallery {
                                /*-----------PORTFOLIO GENERAL 1024----------*/
                                grid-template-columns: repeat(3, 200px);
                                grid-template-areas:
                                    "portafolio1 portafolio2 portafolio3"
                                    "portafolio4 portafolio5 portafolio6"
                                    "portafolio7 portafolio8 portafolio9"
                                    "portafolio10 portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(200px, 200px, 50%, 50%);
                                    }
                                }
                            }
                        }

                        .mario {
                            .row_txt_img1 {
                                /*-------------ORGANIC-------1024------*/
                                display: grid;
                                grid-template-columns: 400px 400px;
                                grid-template-areas:
                                    "txt_mario img_mario"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt_about {
                                    @include mix.box_txt(column, flex-start, 400px, txt_mario, 0.5rem, medium);
                                }

                                .box_img_tall_1 {
                                    @include mix.box_img(60vh, 100%, center, img_mario, 400px, 60vh);
                                }
                            }
                        }

                        .seguridad {
                            .row_img1_img2_txt {
                                display: grid;
                                grid-template-columns: 200px 200px 400px;
                                grid-template-areas:
                                    "img_seguridad_1 img_seguridad_2 txt_seguridad"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt_2pj{
                                    @include mix.box_txt(column, flex-start, 400px, txt_seguridad, 0.5rem, medium);
                                }

                                .box_img_tall_1 {
                                    @include mix.box_img(60vh, 100%, center, img_seguridad1, 200px, 60vh);
                                }

                                .box_img_tall_2 {
                                    @include mix.box_img(60vh, 100%, center, img_seguridad2, 200px, 60vh);
                                }
                            }
                        }
                        
                        .electrico {
                            .row_txt_img {
                                /*--------------------HIGHLIGHTED-------1024-------*/
                                display: grid;
                                grid-template-columns: 200px 500px;
                                grid-template-areas:
                                    "txt_electrico img_electrico"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt{
                                    @include mix.box_txt(column, flex-start, 100%, txt_electrico, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(fit-content, 100%, center, img_electrico, 500px, 100%);
                                }
                            }
                        }

                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 500px 200px;
                                grid-template-areas:
                                    "img_chancador txt_chancador"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 30px 0;

                                .box_txt{
                                    @include mix.box_txt(column, flex-start, 100%, txt_chancador, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(fit-content, 100%, center, img_chancador, 500px, 100%);
                                                
                                            } 
                                        }
                                    }
                                }
                                
                            }
                        }

                        .triciclo {
                            .row_txt_img {
                                /*-------------------HARDSURFACE-----1024--------------*/
                                display: grid;
                                grid-template-columns: 200px 500px;
                                grid-template-areas:
                                    "txt_triciclo img_triciclo"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, center, 100%, txt_triciclo, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, 100%, center, img_triciclo, 500px, 100%);
                                }
                            }
                        }

                        .pizzeria {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 200px 500px;
                                grid-template-areas:
                                    "txt_pizzeria img_pizzeria"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, center, 100%, txt_pizzeria, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(40vh, 100%, center, img_pizzeria, 500px, 100%);
                                            } 
                                        }
                                    }
                                }
                            }
                        }

                        .torque {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 200px 500px;
                                grid-template-areas:
                                    "txt_torque img_torque"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, center, 100%, txt_torque, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, 100%, center, img_torque, 500px, 100%);
                                }
                            }
                        }

                        .auto {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 500px 200px;
                                grid-template-areas:
                                    "img_auto txt_auto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, center, 100%, txt_auto, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(40vh, 100%, center, img_auto, 500px, 100%);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .bota {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 400px 300px;
                                grid-template-areas:
                                    "img_bota txt_bota"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, flex-start, 100%, txt_bota, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, 100%, center, img_bota, 400px, 100%);
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

footer{
    .container{
        .row{
            .col{
                .center{
                    div{
                        .icon {
                            /* -------------FOOTER-----1024----------*/
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}



