@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------1024--------------------*/
@media (max-width:1024px) {
    /*-------------HEADER------------*/
    header {
        .menu_completo {
            min-width: 57%;
            .nav {
                .nav_list {
                    font-size: smaller;
                    .submenu {
                        &>ul {
                            font-size:smaller;
                        }
                    }
                }
            }
        }
    }

    
    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .config_margin_txt {
                            div {
                                nav {
                                    .links_internos {
                                        /*---------------MAIN 1024--------------------*/
                                        gap: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        section {
            .container {
                .row {
                    .col {
                        div{
                            .gallery {
                                /*-----------PORTFOLIO GENERAL 1024----------*/
                                grid-template-columns: repeat(3, 200px);
                                grid-template-areas:
                                    "portafolio1 portafolio2 portafolio3"
                                    "portafolio4 portafolio5 portafolio6"
                                    "portafolio7 portafolio8 portafolio9"
                                    "portafolio10 portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(200px, 200px, 50%, 50%);
                                    }
                                }
                            }
                        }

                        .config_flex_clients{
                            .box_txt_clients {
                                /*--------CLIENTS----768-----*/
                                @include mix.box_txt(column, flex-start, 40vw, txt_clients, 0.1rem, medium);
                            }
                        }
                        .config_flex{
                            div{                            
                                .box_txt_about {
                                    p {
                                        /*----------ABOUT----768------*/ 
                                        @include mix.box_txt(column, flex-start, 80%, txt_about, 0.5rem, medium);
                                    }
                                }
                            }
                            
                        }

                        .grid_container_organic{
                            /*---------------------ORGANIC----1024------------*/
                            padding-top: 3rem;
                            column-gap: 0.5rem;
                            row-gap: 3rem;
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 400px, txt_mario, 00.1rem, medium);
                            }

                            .mario_img {
                                @include mix.box_img(100%, 100%, center, img_mario, 100%, 400px);
                            }

                            .seguridad_txt{
                                @include mix.box_txt(column, flex-start, 400px, txt_seguridad, 0.1rem, medium);
                            }

                            .seguridad_img1{
                                @include mix.box_img(100%, 200px, center, img_seguridad1, 200px,350px);
                            }
                            .seguridad_img2{
                                @include mix.box_img(100%, 200px, flex-start, img_seguridad2, 200px, 350px);
                            }
                        }
                    }
                }
            }
        }
    }
}

footer{
    .container{
        .row{
            .col{
                .center{
                    div{
                        .icon {
                            /* -------------FOOTER-----1024----------*/
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}



