@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------1024--------------------*/
@media (max-width:1024px) {
    /*-------------HEADER------------*/
    header {
        .menu_completo {
            min-width: 57%;
            .nav {
                .nav_list {
                    font-size: smaller;
                    .submenu {
                        &>ul {
                            font-size:smaller;
                        }
                    }
                }
            }
        }
    }

    
    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .config_margin_txt {
                            div {
                                nav {
                                    .links_internos {
                                        /*---------------MAIN 1024--------------------*/
                                        gap: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        section {
            .container {
                .row {
                    .col {
                        div{
                            .gallery {
                                /*-----------PORTFOLIO GENERAL 1024----------*/
                                grid-template-columns: repeat(3, 200px);
                                grid-template-areas:
                                    "portafolio1 portafolio2 portafolio3"
                                    "portafolio4 portafolio5 portafolio6"
                                    "portafolio7 portafolio8 portafolio9"
                                    "portafolio10 portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(200px, 200px, 50%, 50%);
                                    }
                                }
                            }
                        }

                        .mario {
                            .row_txt_img1 {
                                /*-------------ORGANIC-------1024------*/
                                display: grid;
                                grid-template-columns: 400px 400px;
                                grid-template-areas:
                                    "texto imagen1"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt_about {
                                    @include mix.box_txt(column, self-start, 400px, 0.5rem, medium);
                                }

                                .box_img_tall_1 {
                                    display: flex;
                                    width: 100%;
                                    height: 60vh;
                                    justify-content: center;
                                    grid-area: imagen1;

                                    .tall_img_0 {
                                        max-width: 400px;
                                        max-height: 60vh;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }

                        .seguridad {
                            .row_img1_img2_txt {
                                display: grid;
                                grid-template-columns: 200px 200px 400px;
                                grid-template-areas:
                                    "imagen1 imagen2 texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt_2pj{
                                    @include mix.box_txt(column, self-start, 400px, 0.5rem, medium);
                                }

                                .box_img_tall_1 {

                                    .tall_img {
                                        max-width: 200px;
                                        max-height: 60vh;
                                        object-fit: cover;
                                    }
                                }

                                .box_img_tall_2 {

                                    .tall_img {
                                        max-width: 200px;
                                        max-height: 60vh;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        
                        .electrico {
                            .row_txt_img {
                                /*--------------------HIGHLIGHTED-------1024-------*/
                                display: grid;
                                grid-template-columns: 200px 500px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt{
                                    @include mix.box_txt(column, flex-start, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(fit-content, center, imagen, 500px, 100%);
                                }
                            }
                        }

                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 500px 200px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 30px 0;

                                .box_txt{
                                    @include mix.box_txt(column, flex-start, 100%, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(fit-content, center, imagen, 500px, 100%);
                                                
                                            } 
                                        }
                                    }
                                }
                                
                            }
                        }

                        .triciclo {
                            .row_txt_img {
                                /*-------------------HARDSURFACE-----1024--------------*/
                                display: grid;
                                grid-template-columns: 200px 500px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, center, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, center, imagen, 500px, 100%);
                                }
                            }
                        }

                        .pizzeria {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 200px 500px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, center, 100%, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(40vh, center, imagen, 500px, 100%);
                                            } 
                                        }
                                    }
                                }
                            }
                        }

                        .torque {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 200px 500px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, center, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, center, imagen, 500px, 100%);
                                }
                            }
                        }

                        .auto {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 500px 200px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, center, 100%, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(40vh, center, imagen, 500px, 100%);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .bota {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 400px 300px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, center, imagen, 400px, 100%);
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

footer{
    .container{
        .row{
            .col{
                .center{
                    div{
                        .icon {
                            /* -------------FOOTER-----1024----------*/
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}



