@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------1290--------------------*/
@media (max-width:1290px) {
    header {
        .menu_completo {
            min-width: 55%;
            .nav {
                .nav_list {
                    font-size: small;

                    .submenu {
                        &>ul {
                            font-size:small;
                        }
                    }
                }
            }
        }
    }

    main{
        section {
            .container {
                .row {
                    .col {
                        div{
                            .gallery {
                                /*---------------MAIN 1290--------------------*/
                                /*-----------PORTFOLIO GENERAL 1290--------------*/
                                grid-template-columns: repeat(3, 250px);
                                grid-template-areas:
                                    "portafolio1 portafolio2 portafolio3"
                                    "portafolio4 portafolio5 portafolio6"
                                    "portafolio7 portafolio8 portafolio9"
                                    "portafolio10 portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(250px, 250px, 50%, 50%);
                                    }
                                }
                            }
                        }
                        
                        .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT----1290----*/
                                display: grid;
                                grid-template-columns: 200px 700px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: fit-content;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 700px;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 800px 250px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                display: flex;
                                                width: 100%;
                                                height: fit-content;
                                                justify-content: center;
                                                align-items: center;
                                                grid-area: imagen;

                                                .comun_img {
                                                    max-width: 700px;
                                                    max-height: 100%;
                                                    object-fit: cover;
                                                }
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        
                        .triciclo {
                            .row_txt_img {
                                /*---------------HARDSURFACE-----1290---*/
                                display: grid;
                                grid-template-columns: 200px 700px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: fit-content;
                                    justify-content: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 700px;
                                    }
                                }
                            }
                        }
                        .bota {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 650px 250px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }
                                
                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: fit-content;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 600px;
                                    }
                                }
                            }
                        }
                        .torque {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 200px 700px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    display: flex;
                                    height: fit-content;
                                    justify-content: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 700px;
                                    }
                                }
                            }
                        }
                        .auto {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 700px 200px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt{
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }
                                
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                display: flex;
                                                width: 100%;
                                                height: fit-content;
                                                justify-content: center;
                                                align-items: center;
                                                grid-area: imagen;

                                                .comun_img {
                                                    max-width: 700px;
                                                    max-height: 100%;
                                                    object-fit: cover;
                                                }
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        .pizzeria {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 200px 700px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                display: flex;
                                                width: 100%;
                                                height: fit-content;
                                                justify-content: center;
                                                align-items: center;
                                                grid-area: imagen;

                                                .comun_img {
                                                    max-width: 700px;
                                                    max-height: 100%;
                                                    object-fit: cover;
                                                }
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        
                        .mario{
                            .row_txt_img1 {
                                /*----------------ORGANIC-----1290---------*/
                                display: grid;
                                grid-template-columns: 400px 500px;
                                grid-template-areas:
                                    "texto imagen1"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, self-start, 400px, 0.5rem, medium);
                                }

                                .box_img_tall_1{
                                    display: flex;
                                    width: 100%;
                                    height: 60vh;
                                    justify-content: center;
                                    grid-area: imagen1;
                                    
                                    .tall_img_0 {
                                        width: 500px;
                                        max-height: 60vh;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .seguridad{                            
                            .row_img1_img2_txt {
                                display: grid;
                                grid-template-columns: 250px 250px 400px;
                                grid-template-areas:
                                "imagen1 imagen2 texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt_2pj{
                                    @include mix.box_txt(column, self-start, 400px, 0.5rem, medium);
                                }

                                .box_img_tall_1{

                                    .tall_img {
                                        max-width: 250px;
                                        max-height: 60vh;
                                        object-fit: cover;
                                    }
                                }

                                .box_img_tall_2{
                                    .tall_img {
                                        max-width: 250px;
                                        max-height: 60vh;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    footer{
        .container{
            .row{
                .col{
                    .center{
                        div{
                            .icon {
                                /* -------------FOOTER---1290--------*/
                                height: 30px;
                            }
                        }
                        span {
                            color: azure;
                        }
                    }
                }
            }
        }
    }
}

