@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------1290--------------------*/
@media (max-width:1290px) {
    header {
        .menu_completo {
            min-width: 55%;
            .nav {
                .nav_list {
                    font-size: small;

                    .submenu {
                        &>ul {
                            font-size:small;
                        }
                    }
                }
            }
        }
    }

    main{
        section {
            .container {
                .row {
                    .col {
                        div{
                            .gallery {
                                /*---------------MAIN 1290--------------------*/
                                /*-----------PORTFOLIO GENERAL 1290--------------*/
                                grid-template-columns: repeat(3, 250px);
                                grid-template-areas:
                                    "portafolio1 portafolio2 portafolio3"
                                    "portafolio4 portafolio5 portafolio6"
                                    "portafolio7 portafolio8 portafolio9"
                                    "portafolio10 portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(250px, 250px, 50%, 50%);
                                    }
                                }
                            }
                        }
                        
                        .grid_container_organic{
                            /*---------------------ORGANIC--------------------------*/
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 400px, txt_mario, 00.1rem, medium);
                            }

                            .mario_img {
                                @include mix.box_img(100%, 100%, center, img_mario, 100%, 400px);
                            }

                            .seguridad_txt{
                                margin-left: 10px;
                                @include mix.box_txt(column, flex-start, 400px, txt_seguridad, 0.1rem, medium);
                            }

                            .seguridad_img1{
                                @include mix.box_img(100%, 200px, flex-start, img_seguridad1, 200px,400px);
                            }
                            .seguridad_img2{
                                @include mix.box_img(100%, 200px, flex-start, img_seguridad2, 200px, 400px);
                            }
                        }
                    }
                }
            }
        }
    }


    footer{
        .container{
            .row{
                .col{
                    .center{
                        div{
                            .icon {
                                /* -------------FOOTER---1290--------*/
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

