/*----------------1290--------------------*/
@media (max-width:1290px) {
    header {
        .menu_completo {
            min-width: 55%;
            .nav {
                .nav_list {
                    font-size: small;

                    .submenu {
                        &>ul {
                            font-size:small;
                        }
                    }
                }
            }
        }
    }

    /*PORTFOLIO GENERAL*/

    .img_ajustada_port {
        width: 250px;
        height: 250px;
        object-fit: cover;
        /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%;
        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura*/
    }

    /* Ajuste para la grilla del Portfolio General */
    .gallery {
        grid-template-columns: repeat(3, 250px);
        grid-template-areas:
            "portafolio1 portafolio2 portafolio3"
            "portafolio4 portafolio5 portafolio6"
            "portafolio7 portafolio8 portafolio9"
            "portafolio10 portafolio11 portafolio12";
        width: 100%;
        justify-content: center;
    }

    /*HARDSURFACE*/
    .row_txt_img {
        display: grid;
        grid-template-columns: 200px 700px;
        grid-template-areas:
            "texto imagen"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_img_txt {
        display: grid;
        grid-template-columns: 700px 200px;
        grid-template-areas:
            "imagen texto"
        ;
        width: 100%;
        justify-content: center;
    }

    .comun_img {
        max-width: 600px;
        max-height: 100%;
        object-fit: cover;
    }

/* -------------FOOTER---------------*/
    footer{
        .container{
            .row{
                .col{
                    .center{
                        div{
                            .icon {
                                height: 30px;
                            }
                        }
                        span {
                            color: azure;
                        }
                    }
                }
            }
        }
    }
}

