@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------1290--------------------*/
@media (max-width:1290px) {
    header {
        .menu_completo {
            min-width: 55%;
            .nav {
                .nav_list {
                    font-size: small;

                    .submenu {
                        &>ul {
                            font-size:small;
                        }
                    }
                }
            }
        }
    }

    main{
        section {
            .container {
                .row {
                    .col {
                        div{
                            .gallery {
                                /*---------------MAIN 1290--------------------*/
                                /*-----------PORTFOLIO GENERAL 1290--------------*/
                                grid-template-columns: repeat(3, 250px);
                                grid-template-areas:
                                    "portafolio1 portafolio2 portafolio3"
                                    "portafolio4 portafolio5 portafolio6"
                                    "portafolio7 portafolio8 portafolio9"
                                    "portafolio10 portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(250px, 250px, 50%, 50%);
                                    }
                                }
                            }
                        }
                        
                        .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT----1290----*/
                                display: grid;
                                grid-template-columns: 200px 700px;
                                grid-template-areas:
                                    "txt_electrico img_electrico"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_electrico, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(fit-content, 100%, center, img_electrico, 700px, 100%);
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 800px 250px;
                                grid-template-areas:
                                    "img_chancador txt_chancador"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_chancador, 0.5rem, medium);
                                }
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(fit-content, 100%, center, img_chancador, 700px, 100%);
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        
                        .triciclo {
                            .row_txt_img {
                                /*---------------HARDSURFACE-----1290---*/
                                display: grid;
                                grid-template-columns: 250px 650px;
                                grid-template-areas:
                                    "txt_triciclo img_triciclo"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_triciclo,0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(fit-content, 100%, center, img_triciclo, 650px, 100%);
                                }
                            }
                        }
                        .bota {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 650px 250px;
                                grid-template-areas:
                                    "img_bota txt_bota"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, txt_bota, 100%, 0.5rem, medium);
                                }
                                
                                .box_img {
                                    @include mix.box_img(fit-content, 100%, center, img_bota, 650px, 100%);
                                }
                            }
                        }
                        .torque {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 250px 650px;
                                grid-template-areas:
                                    "txt_torque img_torque"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_torque, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(fit-content, 100%, center, img_torque, 650px, 100%);
                                }
                            }
                        }
                        .auto {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 650px 250px;
                                grid-template-areas:
                                    "img_auto txt_auto"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt{
                                    @include mix.box_txt(column, self-start, 100%, txt_auto, 0.5rem, medium);
                                }
                                
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(fit-content, 100%, center, img_electrico, 650px, 100%);
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        .pizzeria {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 250px 650px;
                                grid-template-areas:
                                    "txt_pizzeria img_pizzeria"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_pizzeria, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(fit-content, 100%, center, img_pizzeria, 650px, 100%);
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        
                        .grid_container_organic{
                            /*---------------------ORGANIC--------------------------*/
                            margin-top: 2rem;
                            row-gap: 2rem;
                            display: grid;
                            grid-template-columns: auto auto auto;
                            grid-template-rows: auto auto;
                            grid-template-areas:
                                "txt_mario txt_mario img_mario"
                                "img_seguridad1 img_seguridad2 txt_seguridad"
                            ;
                            width: 100%;
                            justify-content: center;
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 400px, txt_mario, 00.1rem, medium);
                            }

                            .mario_img {
                                @include mix.box_img(100%, 100%, center, img_mario, 100%, 400px);
                            }

                            .seguridad_txt{
                                margin-left: 10px;
                                @include mix.box_txt(column, flex-start, 400px, txt_seguridad, 0.1rem, medium);
                            }

                            .seguridad_img1{
                                @include mix.box_img(100%, 200px, flex-start, img_seguridad1, 200px,400px);
                            }
                            .seguridad_img2{
                                @include mix.box_img(100%, 200px, flex-start, img_seguridad2, 200px, 400px);
                            }
                        }
                    }
                }
            }
        }
    }


    footer{
        .container{
            .row{
                .col{
                    .center{
                        div{
                            .icon {
                                /* -------------FOOTER---1290--------*/
                                height: 30px;
                            }
                        }
                        span {
                            color: azure;
                        }
                    }
                }
            }
        }
    }
}

