@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;


/*----------------1490--------------------*/
/*--------HEADER---------*/
@media (max-width:1490px) {
header {
        .menu_completo {
            min-width: 52%;
            .nav {
                .nav_list {
                    font-size: medium;

                    .submenu {
                        &>ul {
                            font-size: small;
                        }
                    }
                }
            }
        }
    }

    /*--------------MAIN 1490----------------*/
    main {
        section {
            .container {
                .row {
                    .col {
                        div{
                            .gallery {
                                /*-----------PORTFOLIO GENERAL 1490----------*/
                                grid-template-columns: repeat(4, 250px);
                                grid-template-areas:
                                    "portafolio1 portafolio2 portafolio3 portafolio4"
                                    "portafolio5 portafolio6 portafolio7 portafolio8"
                                    "portafolio9 portafolio10 portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;
                            
                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(250px, 250px, 50%, 50%);
                                    }
                                } 
                            }
                        }
                        
                        .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT-------------*/
                                display: grid;
                                grid-template-columns: 300px 800px;
                                grid-template-areas:
                                    "txt_electrico img_electrico"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_electrico, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(fit-content, 100%, center, img_electrico, 800px, 100%);
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 800px 300px;
                                grid-template-areas:
                                    "img_chancador txt_chancador"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_chancador, 0.5rem, medium);
                                }
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(fit-content, 100%, center, img_chancador, 800px, 100%);
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        
                        .triciclo {
                            .row_txt_img {
                                /*---------------HARDSURFACE-------------*/
                                display: grid;
                                grid-template-columns: 300px 800px;
                                grid-template-areas:
                                    "txt_triciclo img_triciclo"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_triciclo, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(fit-content, 100%, center, img_triciclo, 800px, 100%);
                                }
                            }
                        }
                        .bota {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 800px 300px;
                                grid-template-areas:
                                    "img_bota txt_bota"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_bota, 0.5rem, medium);
                                }
                                
                                .box_img {
                                    @include mix.box_img(fit-content, 100%, center, img_bota, 800px, 100%);
                                }
                            }
                        }
                        .torque {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 300px 800px;
                                grid-template-areas:
                                    "txt_torque img_torque"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_torque, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(fit-content, 100%, center, img_torque, 800px, 100%);
                                }
                            }
                        }
                        .auto {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 800px 300px;
                                grid-template-areas:
                                    "img_auto txt_auto"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt{
                                    @include mix.box_txt(column, self-start, 100%, txt_auto, 0.5rem, medium);
                                }
                                
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(fit-content, 100%, center, img_auto, 800px, 100%);
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        .pizzeria {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 300px 800px;
                                grid-template-areas:
                                    "txt_pizzeria img_pizzeria"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, txt_pizzeria, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(fit-content, 100%, center, img_pizzeria, 800px, 100%);
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        
                        .grid_container_organic{
                            /*---------------------ORGANIC--------------------------*/
                            margin-top: 2rem;
                            row-gap: 2rem;
                            display: grid;
                            grid-template-columns: auto auto auto;
                            grid-template-rows: auto auto;
                            grid-template-areas:
                                "txt_mario txt_mario img_mario"
                                "img_seguridad1 img_seguridad2 txt_seguridad"
                            ;
                            width: 100%;
                            justify-content: center;
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 600px, txt_mario, 00.1rem, medium);
                            }

                            .mario_img {
                                @include mix.box_img(100%, 100%, center, img_mario, 100%, 600px);
                            }

                            .seguridad_txt{
                                margin-left: 10px;
                                @include mix.box_txt(column, flex-start, 600px, txt_seguridad, 0.1rem, medium);
                            }

                            .seguridad_img1{
                                @include mix.box_img(100%, 300px, flex-start, img_seguridad1, 300px,600px);
                            }
                            .seguridad_img2{
                                @include mix.box_img(100%, 300px, flex-start, img_seguridad2, 300px, 600px);
                            }
                        }
                        .config_flex {
                            /*------------------CLIENTS...1490...............*/
                            display: flex;
                            justify-content: center;
                            padding: 0.1rem;

                            .box_txt_clients {
                                @include mix.box_txt(column, flex-start, 40%, txt_clients, 1.5rem, medium);
                            }

                            div {
                                width: 50%;
                                margin-top: 0.1rem;

                                .web_insert {
                                    /*Ajuste posicion insert pagina web*/
                                    width: 100%;
                                    height: 60vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    
}
