@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;


/*----------------1490--------------------*/
/*--------HEADER---------*/
@media (max-width:1490px) {
header {
        .menu_completo {
            min-width: 52%;
            .nav {
                .nav_list {
                    font-size: medium;

                    .submenu {
                        &>ul {
                            top: 18px;
                            font-size: small;
                        }
                    }
                }
            }
        }
    }

    /*--------------MAIN 1490----------------*/
    main {
        .highsquare {
            .container-fluid {
            .row {
                .col {
                    .config_margin_txt {
                        p {
                            font-size: large;
                        }

                        div {
                            nav {
                                .links_internos {
                                    gap: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        }
        section {
            .container {
                .row {
                    .col {
                        .center_grid{
                            .card {
                                width: 340px;
                                height: 255px;
                            }
                        }

                        div{
                            .gallery {
                                /*-----------PORTFOLIO GENERAL 1490----------*/
                                grid-template-columns: repeat(4, 250px);
                                grid-template-areas:
                                    "portafolio1 portafolio2 portafolio3 portafolio4"
                                    "portafolio5 portafolio6 portafolio7 portafolio8"
                                    "portafolio9 portafolio10 portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;
                            
                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(250px, 250px, 50%, 50%);
                                    }
                                } 
                            }
                        }

                        .config_flex_clients {
                            .cliente1{
                                .box_txt_cl_torque {
                                    /*-------------CLIENTS------2560---*/
                                    @include mix.box_txt(column, flex-start, 100%, txt_clients, 0.1rem, large);
                                }

                                div {
                                    width: 80vw;

                                    .web_insert {
                                        height: 60vh;
                                    }
                                }
                            }
                            
                        }

                        .config_flex{
                            .box_txt_about {
                                @include mix.box_txt(column, flex-start, 80%, txt_about, 0.8rem, large);
                                p {
                                    /*----------ABOUT-----2560----*/
                                    margin-left: 0.5rem;
                                    margin-right: 1.0rem;
                                }
                            }
                        }
                        
                        .flex_center{
                            div{
                                .form_contact{
                                    /*----------- --CONTACT--380------------*/
                                    max-width: 70%;
                                    font-size: large;
                                
                                    ul {
                                        li {
                                            display: flex;
                                            width: 600px;
                                            label {
                                                font-size: large;
                                                width: 160px;
                                            }
                                            #mensaje{
                                                width: 75%;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .grid_container_highlighted{
                            /*--------------------HIGHLIGHTED----1490------*/
                            .electrico_txt {
                                @include mix.box_txt(column, flex-start, 90%, txt_electrico, 0.1rem, medium);
                            }

                            .chancador_txt {
                                @include mix.box_txt(column, flex-start, 90%, txt_chancador, 0.1rem, medium);
                            }
                        }
                        .grid_container_hardsurface{
                            /*--------------------HARDSURFACE-----1490---------*/
                            .triciclo_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_triciclo, 0.1rem, medium);
                            }

                            .auto_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_auto, 0.1rem, medium);
                            }

                            .pizzeria_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_pizzeria, 0.1rem, medium);
                            }

                            .bota_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_bota, 0.1rem, medium);
                            }
                            .torque_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_torque, 0.1rem, medium);
                            }
                        }
                        .grid_container_organic {
                        /*---------------------ORGANIC--------------------------*/
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 600px, txt_mario, 0.01rem, medium);
                            }
                            .seguridad_txt {
                                margin-left: 10px;
                                @include mix.box_txt(column, flex-start, 600px, txt_seguridad, 0.01rem, medium);
                            }
                        }
                    }
                }
            }
        }
    }
}

