@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;


/*----------------1490--------------------*/
/*--------HEADER---------*/
@media (max-width:1490px) {
header {
        .menu_completo {
            min-width: 52%;
            .nav {
                .nav_list {
                    font-size: medium;

                    .submenu {
                        &>ul {
                            font-size: small;
                        }
                    }
                }
            }
        }
    }
    /*--------------INDEX 1490*/

    main {
        section {
            .container {
                .row {
                    .col {
                         /* Ajuste para la grilla del Portfolio General */
                        .gallery {
                            grid-template-columns: repeat(4, 250px);
                            grid-template-areas:
                                "portafolio1 portafolio2 portafolio3 portafolio4"
                                "portafolio5 portafolio6 portafolio7 portafolio8"
                                "portafolio9 portafolio10 portafolio11 portafolio12";
                            width: 100%;
                            justify-content: center;
                        
                        
                            /* PORTFOLIO GENERAL */
                            div{
                                .img_ajustada_port {
                                width: 250px;
                                height: 250px;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }

    /*CLIENTS*/
    /*Ajuste tamaño insert pagina web*/
    /*.web_insert {
        max-width: 450px;
    }*/

    /*HARDSURFACE*/
    .row_txt_img {
        display: grid;
        grid-template-columns: 300px 800px;
        grid-template-areas:
            "texto imagen"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_img_txt {
        display: grid;
        grid-template-columns: 800px 300px;
        grid-template-areas:
            "imagen texto"
        ;
        width: 100%;
        justify-content: center;
    }

    .comun_img {
        max-width: 700px;
        max-height: 100%;
        object-fit: cover;
    }
}
