@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;


/*----------------1490--------------------*/
/*--------HEADER---------*/
@media (max-width:1490px) {
header {
        .menu_completo {
            min-width: 52%;
            .nav {
                .nav_list {
                    font-size: medium;

                    .submenu {
                        &>ul {
                            font-size: small;
                        }
                    }
                }
            }
        }
    }

    /*--------------MAIN 1490----------------*/
    main {
        section {
            .container {
                .row {
                    .col {
                        div{
                            .gallery {
                                /*-----------PORTFOLIO GENERAL 1490----------*/
                                grid-template-columns: repeat(4, 250px);
                                grid-template-areas:
                                    "portafolio1 portafolio2 portafolio3 portafolio4"
                                    "portafolio5 portafolio6 portafolio7 portafolio8"
                                    "portafolio9 portafolio10 portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;
                            
                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(250px, 250px, 50%, 50%);
                                    }
                                } 
                            }
                        }
                        
                        .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT-------------*/
                                display: grid;
                                grid-template-columns: 300px 800px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: fit-content;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 800px;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 800px 300px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                display: flex;
                                                width: 100%;
                                                height: fit-content;
                                                justify-content: center;
                                                align-items: center;
                                                grid-area: imagen;

                                                .comun_img {
                                                    max-width: 800px;
                                                    max-height: 100%;
                                                    object-fit: cover;
                                                }
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        
                        .triciclo {
                            .row_txt_img {
                                /*---------------HARDSURFACE-------------*/
                                display: grid;
                                grid-template-columns: 300px 800px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: fit-content;
                                    justify-content: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 800px;
                                    }
                                }
                            }
                        }
                        .bota {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 800px 300px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }
                                
                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: fit-content;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 800px;
                                    }
                                }
                            }
                        }
                        .torque {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 300px 800px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    display: flex;
                                    height: fit-content;
                                    justify-content: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 800px;
                                    }
                                }
                            }
                        }
                        .auto {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 800px 300px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt{
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }
                                
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                display: flex;
                                                width: 100%;
                                                height: fit-content;
                                                justify-content: center;
                                                align-items: center;
                                                grid-area: imagen;

                                                .comun_img {
                                                    max-width: 800px;
                                                    max-height: 100%;
                                                    object-fit: cover;
                                                }
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        .pizzeria {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 300px 800px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                display: flex;
                                                width: 100%;
                                                height: fit-content;
                                                justify-content: center;
                                                align-items: center;
                                                grid-area: imagen;

                                                .comun_img {
                                                    max-width: 800px;
                                                    max-height: 100%;
                                                    object-fit: cover;
                                                }
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        
                        .mario{
                            .row_txt_img1 {
                                /*----------------ORGANIC-1490---------------*/
                                display: grid;
                                grid-template-columns: 400px 600px;
                                grid-template-areas:
                                "texto imagen1"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;

                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .box_img_tall_1{
                                    display: flex;
                                    width: 100%;
                                    height: 60vh;
                                    justify-content: center;
                                    grid-area: imagen1;
                                    
                                    .tall_img_0 {
                                        max-width: 600px;
                                        max-height: 60vh;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .seguridad{                            
                            .row_img1_img2_txt {
                                display: grid;
                                grid-template-columns: 300px 300px 400px;
                                grid-template-areas:
                                "imagen1 imagen2 texto"
                                ;

                                .box_txt_2pj{
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, medium);
                                }

                                .box_img_tall_1{
                                    .tall_img {
                                        max-width: 300px;
                                    }
                                }

                                .box_img_tall_2{
                                    .tall_img {
                                        max-width: 300px;
                                        max-height: 60vh;
                                    }
                                }
                            }
                        }

                        .config_flex {
                            /*------------------CLIENTS...1490...............*/
                            display: flex;
                            justify-content: center;
                            padding: 0.1rem;

                            .box_txt_clients {
                                @include mix.box_txt(column, self-start, 40%, 1.5rem, medium);
                            }

                            div {
                                width: 50%;
                                margin-top: 0.1rem;

                                .web_insert {
                                    /*Ajuste posicion insert pagina web*/
                                    width: 100%;
                                    height: 60vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    
}
