@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*--------------------1800px-----------------*/
/*--------HEADER---------*/
@media (max-width:1800px) {
    header {
        .menu_completo {
            min-width: 45%;
            .nav {
                .nav_list {
                    font-size:large;

                    .submenu {
                        &>ul {
                            font-size:medium;
                        }
                    }
                }
            }
        }
    }
}


