@use "sass:map";
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;
@use '../utilities/maps';

/*---------------Desde 2561px-----------------*/
@media (min-width:2561px) {
    header {
        .img_logo {
            /*--------HEADER----2561-----*/
            max-width: 100%;
        }
        .menu_completo {
            min-width: 40%;
            .nav {
                .nav_list {
                    font-size: xx-large;

                    .submenu {
                        &>ul {
                            font-size: x-large;
                        }
                    }
                }
            }
        }
    }

    main{
        section {
            .container {
                .row {
                    .col {
                        .config_flex{
                            .box_txt {
                                /*--------CLIENTS------2561---*/
                                @include mix.box_txt(column, self-start, 100%, 0.5rem, large);
                            }
                            div{
                                .web_insert {
                                    /*Ajuste tamaño insert pagina web*/
                                    margin-top: 5%;
                                }
                            } 
                            .box_txt_about {
                                p {
                                    /*----------ABOUT---2561-------*/ 
                                    font-size: medium;
                                    margin-left: 1.5rem;
                                    margin-right: 4.0rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
