@use "sass:map";
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;
@use '../utilities/maps';

/*---------------Desde 2561px-----------------*/
@media (min-width:2561px) {
    header {
        .img_logo {
            /*--------HEADER----2561-----*/
            max-width: 100%;
        }
        .menu_completo {
            min-width: 40%;
            .nav {
                .nav_list {
                    font-size: xx-large;

                    .submenu {
                        &>ul {
                            font-size: x-large;
                        }
                    }
                }
            }
        }
    }

    main{
        section {
            .container {
                .row {
                    .col {
                        .config_flex{
                            .box_txt {
                                /*--------CLIENTS------2561---*/
                                @include mix.box_txt(column, flex-start, 100%, txt_clients, 0.5rem, large);
                            }
                            div{
                                .web_insert {
                                    /*Ajuste tamaño insert pagina web*/
                                    margin-top: 5%;
                                }
                            } 
                            .box_txt_about {
                                @include mix.box_txt(column, flex-start, 70%, txt_about, 0.8rem, large);
                                p {
                                    /*----------ABOUT---2561-------*/ 
                                    margin-left: 1.5rem;
                                    margin-right: 4.0rem;
                                }
                            }
                        }
                        .grid_container_organic{
                            /*---------------------ORGANIC----+2561-----------------*/
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_mario, 00.1rem, x-large);
                            }

                            .mario_img {
                                @include mix.box_img(100%, 100%, center, img_mario, 900px, 60vh);
                            }

                            .seguridad_txt{
                                margin-left: 10px;
                                @include mix.box_txt(column, flex-start, 100%, txt_seguridad, 0.1rem, x-large);
                            }

                            .seguridad_img1{
                                @include mix.box_img(100%, 100%, flex-start, img_seguridad1, 440px, 60vh);
                            }
                            .seguridad_img2{
                                @include mix.box_img(100%, 100%, flex-start, img_seguridad2, 440px, 60vh);
                            }
                        }
                    }
                }
            }
        }
    }
}
