@use "sass:map";
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;
@use '../utilities/maps';
/*----------------hasta 2560px-----------------*/

@media (max-width:2560px) {
    header {
        .img_logo {
            /*--------HEADER---2560------*/
            max-width: 95%;
        }

        .menu_completo {
            min-width: 35%;

            .nav {
                .nav_list {
                    font-size: x-large;

                    .submenu {
                        &>ul {
                            top: 22px;
                            font-size: large;
                        }
                    }
                }
            }
        }
    }
    
}