@use "sass:map";
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;
@use '../utilities/maps';

/*---------------Desde 2561px-----------------*/
@media (min-width:2561px) {
    header {
        .img_logo {
            /*--------HEADER----2561-----*/
            max-width: 100%;
        }
        .menu_completo {
            min-width: 40%;
            .nav {
                .nav_list {
                    font-size: xx-large;

                    .submenu {
                        &>ul {
                            top: 22px;
                            font-size: x-large;
                        }
                    }
                }
            }
        }
    }

    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .config_margin_txt {
                            p {
                                font-size: x-large;
                            }

                            div {
                                nav {
                                    .links_internos {
                                        gap: 30px;
                                    }
                                }
                            }
                        }
                        .center {
                            .text_over_img {
                                .card_highlight {
                                    left: 60vw;
                                    width: 30vw;

                                    /* Posicion horizontal */
                                    p {
                                        font-size: xx-large;
                                        padding: 7rem 4em 2rem 4em;
                                        margin: 0.5vw;
                                        width: 100%;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
        section {
            .container {
                .row {
                    .col {
                        .config_flex_clients {
                            .cliente1{
                                .box_txt_cl_torque {
                                    /*-------------CLIENTS------2560---*/
                                    @include mix.box_txt(column, flex-start, 40vw, txt_clients, 0.3rem, x-large);
                                }
                            }
                            .cliente2{
                                .box_txt_cl_thone {
                                    /*-------------CLIENTS------2560---*/
                                    @include mix.box_txt(column, flex-start, 40vw, txt_clients, 0.3rem, x-large);
                                }
                            }
                        }

                        .config_flex{
                            .box_txt_about {
                                @include mix.box_txt(column, flex-start, 70%, txt_about, 0.8rem, x-large);
                                p {
                                    /*----------ABOUT-----2560----*/
                                    margin-left: 0.5rem;
                                    margin-right: 1.0rem;
                                }
                            }
                        }
                        
                        .flex_center{
                            div{
                                .form_contact {
                                    /*-------------FORMULARIO DE CONTACTO----------------*/
                                    font-size: large;
                                    ul {
                                        li {
                                            label {
                                                font-size: large;
                                                width: 180px;
                                                }
                                            }
                                    }
                                }
                            }
                        }

                        div {
                            .edit_links {
                                /*--LINKS MAIN---*/
                                font-size: large;
                                margin-bottom: 5px;
                            }

                            .gallery {
                                div{
                                    .img_ajustada_port {
                                        /*-------------PORTFOLIO GENERAL----------2561-----*/
                                        @include mix.ajuste_de_imagen(100%, 320px, 50%, 50%);
                                    }
                                }
                            }
                        }

                        .grid_container_highlighted{
                            /*--------------------HIGHLIGHTED--------------*/
                            .electrico_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_electrico, 0.1rem, x-large);
                            }

                            .chancador_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_chancador, 0.1rem, x-large);
                            }
                        }
                        .grid_container_hardsurface{
                            /*--------------------HARDSURFACE--------------*/
                            .triciclo_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_triciclo, 0.1rem, x-large);
                            }

                            .auto_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_auto, 0.1rem, x-large);
                            }

                            .pizzeria_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_pizzeria, 0.1rem, x-large);
                            }

                            .bota_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_bota, 0.1rem, x-large);
                            }
                            .torque_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_torque, 0.1rem, x-large);
                            }
                        }
                        .grid_container_organic {
                        /*---------------------ORGANIC--------------------------*/
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 600px, txt_mario, 0.01rem, x-large);
                            }
                            .seguridad_txt {
                                margin-left: 10px;
                                @include mix.box_txt(column, flex-start, 600px, txt_seguridad, 0.01rem, x-large);
                            }
                        }
                    }
                }
            }
        }
    }
}