/*----------------380--------------------*/

@media (max-width:380px) {

    /*INDEX*/
    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .center {
                            .text_over_img {
                                .img_ajustada_high {
                                    margin: 0%;
                                    width: 100%;
                                    height: 30vh;
                                    object-fit: cover;
                                    /* La imagen se recorta para cubrir el contenedor */
                                    object-position: 45% 50%;
                                    /* El centro de la imagen se alinea al 45% del ancho y 50% de la altura */
                                }
                            }
                        }
                    }
                }
            }
        }
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            .text_over_img {
                                .img_ajustada_grid {
                                    width: 290px;
                                    height: 25vh;
                                    object-fit: cover;
                                    /* La imagen se recorta para cubrir el contenedor */
                                    object-position: 50% 50%;
                                    /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura */
                                    margin: 5px 0 5px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .comun_img {
            max-width: 260px;
            max-height: 100%;
        }

        .row_txt_img {
            display: grid;
            grid-template-columns: 70px 260px;
            grid-template-rows: 100%;
            grid-template-areas:
                "texto imagen"
            ;
            width: 100%;
            justify-content: center;
        }

        .row_img_txt {
            display: grid;
            grid-template-columns: 260px 70px;
            grid-template-rows: 100%;
            grid-template-areas:
                "imagen texto"
            ;
            width: 100%;
            justify-content: center;
        }


        /*CLIENTS*/
        /*Ajuste tamaño insert pagina web*/
        .web_insert {
            max-width: 300px;
        }

        /*CONTACT*/

        /*Ajuste tamaño form mensaje*/

        #mensaje {
            max-width: 160px;
        }
    }

    /* -------------FOOTER---------------*/
    footer{
        .container{
            .row{
                .col{
                    .center{
                        div{
                            .icon {
                                height: 20px;
                            }
                        }
                        span {
                            color: azure;
                        }
                    }
                }
            }
        }
    }
}