@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------380--------------------*/

@media (max-width:380px) {

    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .center {
                            .text_over_img {
                                .img_ajustada_high {
                                    /*---------MAIN 360------------------------*/
                                    margin: 0%;
                                    width: 100%;
                                    height: 30vh;
                                    object-fit: cover;
                                    /* La imagen se recorta para cubrir el contenedor */
                                    object-position: 45% 50%;
                                    /* El centro de la imagen se alinea al 45% del ancho y 50% de la altura */
                                }
                            }
                        }
                    }
                }
            }
        }
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            .text_over_img {
                                .img_ajustada_grid {
                                    width: 290px;
                                    height: 25vh;
                                    object-fit: cover;
                                    /* La imagen se recorta para cubrir el contenedor */
                                    object-position: 50% 50%;
                                    /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura */
                                    margin: 5px 0 5px 0;
                                }
                            }
                        }
                        div{
                            .gallery {
                                /*-------------PORTFOLIO----360-----------*/
                                /* Ajuste para la grilla del Portfolio General */
                                grid-template-columns: repeat(2, 150px);
                                grid-template-areas:
                                    "portafolio1 portafolio2"
                                    "portafolio3 portafolio4"
                                    "portafolio5 portafolio6"
                                    "portafolio7 portafolio8"
                                    "portafolio9 portafolio10"
                                    "portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        /* Ajuste para imagenes del Portfolio General 360*/
                                        width: 100%;
                                        height: 150px;
                                        object-fit: cover;
                                        /* La imagen se recorta para cubrir el contenedor */
                                        object-position: 50% 50%;
                                        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura*/
                                    }
                                }
                            }
                        }

                        .config_flex{
                            .box_txt_clients {
                                /*-----------------------CLIENTS--360------------*/
                                flex-direction:column;
                                @include mix.box_txt(column, self-start, 100%, 0.2rem, small);
                            }
                            div{
                                .web_insert {
                                    /*Ajuste tamaño insert pagina web  360*/
                                    width: 280px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    
    footer{
        .container{
            .row{
                .col{
                    .center{
                        div{
                            .icon {
                                /* -------------FOOTER---360-------*/
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}