@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------380--------------------*/

@media (max-width:380px) {

    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .center {
                            .text_over_img {
                                .img_ajustada_high {
                                    /*---------MAIN 380------------------------*/
                                    margin-left: 0%;
                                    @include mix.ajuste_de_imagen(100%, 30vh, 45%, 50%);
                                }
                            }
                        }
                        .config_margin_txt {
                            margin-left: 0.2rem;
                            h1 {
                                margin-right: 0.5rem;
                            }
                            p {
                                margin-left: 1rem;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
        }
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            .card {
                                width: 300px;
                                height: 220px;
                                margin: 1rem auto;
                                perspective: 1000px;
                                cursor: pointer;
                            }
                        }
                        div{
                            .gallery {
                                /*-------------PORTFOLIO----380-----------*/
                                /* Ajuste para la grilla del Portfolio General */
                                grid-template-columns: repeat(2, 150px);
                                grid-template-areas:
                                    "portafolio1 portafolio2"
                                    "portafolio3 portafolio4"
                                    "portafolio5 portafolio6"
                                    "portafolio7 portafolio8"
                                    "portafolio9 portafolio10"
                                    "portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(100%, 150px, 50%, 50%);
                                    }
                                }
                            }
                        }

                        .config_flex_clients{
                            .box_txt_clients {
                                /*----------- --CLIENTS--380------------*/
                                @include mix.box_txt(column, flex-start, 100%, txt_clients, 2.0rem, 16px);
                            }
                            div{
                                .web_insert {
                                    /*Ajuste posicion insert pagina web*/
                                    width: 350px;
                                }
                            }
                        }

                        .flex_center{
                            div{
                                .form_contact{
                                    /*----------- --CONTACT--380------------*/
                                    max-width: 50%;
                                    font-size: small;
                                
                                    ul {
                                        li {
                                            display: flex;
                                            width: 300px;
                                            label {
                                                font-size: small;
                                                width: 100px;
                                            }
                                            #mensaje{
                                                width: 61%;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .grid_container_organic{
                            /*---------------------ORGANIC--------------------------*/
                            margin-top: 3rem;
                            row-gap: 2rem;
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-template-rows: auto auto auto auto;
                            grid-template-areas:
                                "txt_mario txt_mario"
                                "img_mario img_mario"
                                "txt_seguridad txt_seguridad"
                                "img_seguridad1 img_seguridad2" 
                            ;
                            width: 100%;
                            justify-content: center;
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 280px, txt_mario, 0.1rem, 16px);
                            }

                            .mario_img {
                                @include mix.box_img(100%, 100%, center, img_mario, 280px, 300px);
                            }

                            .seguridad_txt{
                                margin-left: 20px;
                                @include mix.box_txt(column, flex-start, 280px, txt_seguridad, 1.2rem, 16px);
                            }

                            .seguridad_img1{
                                @include mix.box_img(100%, 140px, center, img_seguridad1, 140px,300px);
                            }
                            .seguridad_img2{
                                @include mix.box_img(100%, 140px, center, img_seguridad2, 140px, 300px);
                            }
                        }
                    }
                }
            }
        }
    }

    
    footer{
        .container{
            .row{
                .col{
                    .center{
                        div{
                            .icon {
                                /* -------------FOOTER---360-------*/
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}