@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------380--------------------*/

@media (max-width:380px) {

    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .center {
                            .text_over_img {
                                .img_ajustada_high {
                                    /*---------MAIN 380------------------------*/
                                    margin-left: 0%;
                                    @include mix.ajuste_de_imagen(100%, 30vh, 45%, 50%);
                                }
                            }
                        }
                        .config_margin_txt {
                            margin-left: 1.2rem;
                            h1 {
                                margin-right: 0.5rem;
                            }
                            p {
                                margin-left: 0.9rem;
                                margin-right: 2.0rem;
                            }
                        }
                    }
                }
            }
        }
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            .text_over_img {
                                .img_ajustada_grid {
                                    @include mix.ajuste_de_imagen(290px, 25vh, 50%, 50%);
                                    margin: 5px 0 5px 0;
                                }
                            }
                        }
                        div{
                            .gallery {
                                /*-------------PORTFOLIO----380-----------*/
                                /* Ajuste para la grilla del Portfolio General */
                                grid-template-columns: repeat(2, 150px);
                                grid-template-areas:
                                    "portafolio1 portafolio2"
                                    "portafolio3 portafolio4"
                                    "portafolio5 portafolio6"
                                    "portafolio7 portafolio8"
                                    "portafolio9 portafolio10"
                                    "portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(100%, 150px, 50%, 50%);
                                    }
                                }
                            }
                        }

                        .config_flex{
                            flex-direction:column;
                            .box_txt_clients {
                                /*----------- --CLIENTS--380------------*/
                                margin-left: 1.0rem;
                                @include mix.box_txt(column, flex-start, 100%, txt_clients, 2.0rem, 16px);
                            }
                            div{
                                .web_insert {
                                    margin-left: 1rem;
                                    /*Ajuste tamaño insert pagina web  380*/
                                    width: 310px;
                                }
                            }
                            .logo {
                                /*--------------ABOUT---380--------------*/
                                margin: 1.0rem;
                                width: 20%;

                                .image_about {
                                    width: 100%;
                                }
                            }
                            .box_txt_about {
                                @include mix.box_txt(column, fit-content, 100%, txt_about, 1.0rem, 16px);
                                    margin-left: 0.8rem;
                                    margin-right: 1.3rem;
                            }
                        }

                        .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT----380----------*/
                                display: grid;
                                grid-template-columns: 320px;
                                grid-template-rows: 200px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "txt_electrico"
                                    "img_electrico"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, txt_electrico, 0.1rem, small);
                                }

                                .box_img {
                                    @include mix.box_img(50vh, 320px, center, img_electrico, 320px, 100%);
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 320px;
                                grid-template-rows: 200px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "txt_chancador"
                                    "img_chancador"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, txt_chancador, 0.1rem, small);
                                }

                                .carousel {
                                    .carousel-inner {
                                        .carousel-item {
                                            .box_img {
                                                @include mix.box_img(50vh, 320px, center, img_chancador, 320px, 100%);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .flex_center{
                            div{
                                .form_contact{
                                    width: 40%;
                                    margin-left: 14rem;
                                    font-size: small;
                                }
                            }
                        }

                        .grid_container_organic{
                            /*---------------------ORGANIC--------------------------*/
                            margin-top: 3rem;
                            row-gap: 2rem;
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-template-rows: auto auto auto auto;
                            grid-template-areas:
                                "txt_mario txt_mario"
                                "img_mario img_mario"
                                "txt_seguridad txt_seguridad"
                                "img_seguridad1 img_seguridad2" 
                            ;
                            width: 100%;
                            justify-content: center;
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 280px, txt_mario, 0.1rem, 16px);
                            }

                            .mario_img {
                                @include mix.box_img(100%, 100%, center, img_mario, 280px, 300px);
                            }

                            .seguridad_txt{
                                margin-left: 20px;
                                @include mix.box_txt(column, flex-start, 280px, txt_seguridad, 1.2rem, 16px);
                            }

                            .seguridad_img1{
                                @include mix.box_img(100%, 140px, center, img_seguridad1, 140px,300px);
                            }
                            .seguridad_img2{
                                @include mix.box_img(100%, 140px, center, img_seguridad2, 140px, 300px);
                            }
                        }
                    }
                }
            }
        }
    }

    
    footer{
        .container{
            .row{
                .col{
                    .center{
                        div{
                            .icon {
                                /* -------------FOOTER---360-------*/
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}