@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------380--------------------*/

@media (max-width:380px) {

    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .center {
                            .text_over_img {
                                .img_ajustada_high {
                                    /*---------MAIN 380------------------------*/
                                    margin-left: 0%;
                                    @include mix.ajuste_de_imagen(100%, 30vh, 45%, 50%);
                                }
                            }
                        }
                        .config_margin_txt {
                            margin-left: 1.2rem;
                            h1 {
                                margin-right: 0.5rem;
                            }
                            p {
                                margin-left: 0.9rem;
                                margin-right: 2.0rem;
                            }
                        }
                    }
                }
            }
        }
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            .text_over_img {
                                .img_ajustada_grid {
                                    @include mix.ajuste_de_imagen(290px, 25vh, 50%, 50%);
                                    margin: 5px 0 5px 0;
                                }
                            }
                        }
                        div{
                            .gallery {
                                /*-------------PORTFOLIO----380-----------*/
                                /* Ajuste para la grilla del Portfolio General */
                                grid-template-columns: repeat(2, 150px);
                                grid-template-areas:
                                    "portafolio1 portafolio2"
                                    "portafolio3 portafolio4"
                                    "portafolio5 portafolio6"
                                    "portafolio7 portafolio8"
                                    "portafolio9 portafolio10"
                                    "portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(100%, 150px, 50%, 50%);
                                    }
                                }
                            }
                        }

                        .config_flex{
                            flex-direction:column;
                            .box_txt_clients {
                                /*----------- --CLIENTS--380------------*/
                                @include mix.box_txt(column, self-start, 100%, 0.2rem, small);
                            }
                            div{
                                .web_insert {
                                    /*Ajuste tamaño insert pagina web  380*/
                                    width: 280px;
                                }
                            }
                            .logo {
                                /*--------------ABOUT---380--------------*/
                                margin: 0.4rem;
                                width: 20%;

                                .image_about {
                                    width: 100%;
                                }
                            }
                            .box_txt_about {
                                @include mix.box_txt(column, fit-content, 100%, 0.2rem, 16px);
                                    margin-left: 0.8rem;
                                    margin-right: 1.3rem;
                            }
                        }

                                                .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT----380----------*/
                                display: grid;
                                grid-template-columns: 320px;
                                grid-template-rows: 200px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, 0.1rem, small);
                                }

                                .box_img {
                                    display: flex;
                                    width: 320px;
                                    height: 50vh;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 320px;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 320px;
                                grid-template-rows: 200px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, 0.1rem, small);
                                }

                                .carousel {
                                    .carousel-inner {
                                        .carousel-item {
                                            .box_img {
                                                display: flex;
                                                width: 320px;
                                                height: 50vh;
                                                justify-content: center;
                                                align-items: center;
                                                grid-area: imagen;

                                                .comun_img {
                                                    max-width: 320px;
                                                    max-height: 100%;
                                                    object-fit: cover;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    
    footer{
        .container{
            .row{
                .col{
                    .center{
                        div{
                            .icon {
                                /* -------------FOOTER---360-------*/
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}