@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------575--------------------*/

@media (max-width:575px) {

    /*-------------MAIN------------*/
    main {
        .highsquare{
            .container-fluid{
                .row{
                    .col{
                        .config_margin_txt {
                            margin-left: 1.2rem;
                            h1 {
                                margin-right: 0.5rem;
                            }
                            p {
                                margin-left: 1.0rem;
                                margin-right: 1.0rem;
                            }
                        }
                    }
                }
            }
        }
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            .text_over_img {
                                .img_ajustada_grid {
                                    @include mix.ajuste_de_imagen(100%, 100%, 50%, 50%);
                                }
                            }
                        }
                        div{
                            .gallery {
                                /*-------------PORTFOLIO-------575-----------*/
                                /* Ajuste para la grilla del Portfolio General */
                                grid-template-columns: repeat(2, 190px);
                                grid-template-areas:
                                    "portafolio1 portafolio2"
                                    "portafolio3 portafolio4"
                                    "portafolio5 portafolio6"
                                    "portafolio7 portafolio8"
                                    "portafolio9 portafolio10"
                                    "portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(100%, 190px, 50%, 50%);
                                    }
                                }
                            }
                        }

                        .config_flex{
                            flex-direction:column;
                            .box_txt_clients {
                                /*----------- --CLIENTS--575------------*/
                                @include mix.box_txt(column, flex-start, 100%, txt_clients, 0.2rem, small);
                            }
                            div{
                                .web_insert {
                                    /*Ajuste tamaño insert pagina web  380*/
                                    width: 380px;
                                }
                            }
                            .logo {
                                /*--------------ABOUT---575--------------*/
                                margin: 0.4rem;
                                width: 20%;

                                .image_about {
                                    width: 100%;
                                }
                            }
                            .box_txt_about {
                                @include mix.box_txt(column, fit-content, 100%, txt_about, 0.2rem, 16px);
                                    margin-left: 0.8rem;
                                    margin-right: 1.3rem;
                            }
                        }


                        .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT----575----------*/
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 200px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "txt_electrico"
                                    "img_electrico"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, txt_electrico,0.1rem, small);
                                }

                                .box_img {
                                    @include mix.box_img(50vh, 370px, center, img_electrico, 370px, 100%);
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 200px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "txt_chancador"
                                    "img_chancador"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, txt_chancador, 0.1rem, small);
                                }

                                .carousel {
                                    .carousel-inner {
                                        .carousel-item {
                                            .box_img {
                                                @include mix.box_img(50vh, 370px, center, img_chancador, 370px, 100%);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        .triciclo {
                            .row_txt_img {
                                /*---------------HARDSURFACE---575-------*/
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 200px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "txt_triciclo"
                                    "img_triciclo"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, txt_triciclo, 0.1rem, small);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, 370px, center, img_triciclo, 370px, 300px);
                                }
                            }
                        }

                        .auto {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 200px 300px;
                                grid-template-areas:
                                    "txt_auto"
                                    "img_auto"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, flex-start, 100%, txt_auto, 0.2rem, small);
                                }

                                .carousel {
                                    .carousel-inner {
                                        .carousel-item {
                                            .box_img {
                                                @include mix.box_img(40vh, 370px, center, img_auto, 370px, 100%);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .bota {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 200px 300px;
                                grid-template-areas:
                                    "txt_bota"
                                    "img_bota"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, txt_bota, 0.1rem, small);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, 370px, center, img_bota, 370px, 100%);
                                }
                            }
                        }

                        .torque {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 300px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "txt_torque"
                                    "img_torque"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, flex-start, 100%, txt_torque,0.1rem, small);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, 370px, center, img_torque, 370px, 100%);
                                }
                            }
                        }
                        
                        .pizzeria {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 300px 300px;
                                grid-template-areas:
                                    "txt_pizzeria"
                                    "img_pizzeria"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, flex-start, 100%, txt_pizzeria, 0.1rem, small);
                                }
                                
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(40vh, 370px, center, img_pizzeria, 370px, 100%);
                                            } 
                                        }
                                    }
                                }
                            }
                        }

                        .grid_container_organic{
                            /*---------------------ORGANIC--------------------------*/
                            margin-top: 3rem;
                            row-gap: 2rem;
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-template-rows: auto auto auto auto;
                            grid-template-areas:
                                "txt_mario txt_mario"
                                "img_mario img_mario"
                                "txt_seguridad txt_seguridad"
                                "img_seguridad1 img_seguridad2" 
                            ;
                            width: 100%;
                            justify-content: center;
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 375px, txt_mario, 00.1rem, medium);
                            }

                            .mario_img {
                                @include mix.box_img(100%, 100%, center, img_mario, 100%, 375px);
                            }

                            .seguridad_txt{
                                margin-left: 20px;
                                @include mix.box_txt(column, flex-start, 375px, txt_seguridad, 1.8rem, medium);
                            }

                            .seguridad_img1{
                                @include mix.box_img(100%, 180px, center, img_seguridad1, 180px,375px);
                            }
                            .seguridad_img2{
                                @include mix.box_img(100%, 180px, center, img_seguridad2, 180px, 375px);
                            }
                        }
                    }
                }
            }
        }
    }
}


footer {
    .container {
        .row {
            .col {
                .center {
                    div {
                        .icon {
                            /* -------------FOOTER---575--------*/
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}