@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------575--------------------*/

@media (max-width:575px) {

    /*-------------MAIN------------*/
    main {
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            .text_over_img {
                                .img_ajustada_grid {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        div{
                            .gallery {
                                /*-------------PORTFOLIO-------575-----------*/
                                /* Ajuste para la grilla del Portfolio General */
                                grid-template-columns: repeat(2, 190px);
                                grid-template-areas:
                                    "portafolio1 portafolio2"
                                    "portafolio3 portafolio4"
                                    "portafolio5 portafolio6"
                                    "portafolio7 portafolio8"
                                    "portafolio9 portafolio10"
                                    "portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        /* Ajuste para imagenes del Portfolio General 575*/
                                        width: 100%;
                                        height: 190px;
                                        object-fit: cover;
                                        /* La imagen se recorta para cubrir el contenedor */
                                        object-position: 50% 50%;
                                        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura*/
                                    }
                                }
                            }
                        }

                        .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT----575----------*/
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 300px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.2rem, small);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: 40vh;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 380px;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 300px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.2rem, small);
                                }

                                .carousel {
                                    .carousel-inner {
                                        .carousel-item {
                                            .box_img {
                                                display: flex;
                                                width: 100%;
                                                height: 40vh;
                                                justify-content: center;
                                                align-items: center;
                                                grid-area: imagen;

                                                .comun_img {
                                                    max-width: 380px;
                                                    max-height: 100%;
                                                    object-fit: cover;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        .triciclo {
                            .row_txt_img {
                                /*---------------HARDSURFACE---575-------*/
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 300px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.2rem, small);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: 40vh;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 380px;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .bota {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 300px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.2rem, small);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: 40vh;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 380px;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .torque {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 300px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.2rem, small);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: 40vh;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 380px;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .auto {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 300px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.2rem, small);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: 40vh;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 380px;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .pizzeria {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 300px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.2rem, small);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: 40vh;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 380px;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*ORGANIC, HARDSURFACE, HIGHLIGHT*/

    .row_img1_img2_txt {
        display: grid;
        grid-template-columns: 110px 110px 110px;
        grid-template-rows: 300px;
        grid-template-areas:
            "imagen1 imagen2 texto"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_txt_img1 {
        display: grid;
        grid-template-columns: 120px 230px;
        grid-template-rows: 300px;
        grid-template-areas:
            "texto imagen1"
        ;
        width: 100%;
        justify-content: center;
    }

    /*CLIENTS*/

    /*Ajuste tamaño insert pagina web*/
    .web_insert {
        max-width: 378px;
    }

}


footer {
    .container {
        .row {
            .col {
                .center {
                    div {
                        .icon {
                            /* -------------FOOTER---575--------*/
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}