@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------575--------------------*/

@media (max-width:575px) {

    /*-------------MAIN------------*/
    main {
        .highsquare{
            .container-fluid{
                .row{
                    .col{
                        .config_margin_txt {
                            margin-left: 0.1rem;
                            h1 {
                                margin-right: 0.1rem;
                            }
                            p {
                                margin-left: 0.5rem;
                                margin-right: 0.01rem;
                            }
                            div {
                                nav {
                                    .links_internos {
                                        font-size: x-small;
                                        gap: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            .card {
                                width: 370px;
                                height: 278px;
                            }
                        }
                        div{
                            .gallery {
                                /*-------------PORTFOLIO-------575-----------*/
                                /* Ajuste para la grilla del Portfolio General */
                                grid-template-columns: repeat(2, 190px);
                                grid-template-areas:
                                    "portafolio1 portafolio2"
                                    "portafolio3 portafolio4"
                                    "portafolio5 portafolio6"
                                    "portafolio7 portafolio8"
                                    "portafolio9 portafolio10"
                                    "portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(100%, 190px, 50%, 50%);
                                    }
                                }
                            }
                        }
                        .grid_container_hardsurface {
                            /*--------------------HARDSURFACE 575--------------*/
                            display: flex;
                            padding-top: 3rem;
                            flex-direction: column;
                            row-gap: 2px;
                            .triciclo_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_triciclo, 0.01rem, medium);
                            }

                            .triciclo_img {
                                @include mix.box_img(100%, 100%, center, img_triciclo, 100%, 100%);
                                padding-bottom: 4rem;
                            }

                            .auto_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_auto, 3rem, medium);
                            }

                            .automovil{
                                grid-area: carousel_car;
                                padding-bottom: 4rem;
                                .carousel{
                                    .carousel-inner {
                                        .carousel-item {
                                            .auto_img {
                                                min-height: 200px;
                                                @include mix.box_img(100%, 100%, center, img_auto, fit-content, 250px);
                                            }
                                        }
                                    }
                                }
                            }

                            .pizzeria_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_pizzeria, 0.01rem, medium);
                            }

                            .modelo_pizzeria {
                                grid-area: carousel_pizza;
                                padding-bottom: 4rem;
                                .carousel{
                                    .carousel-inner {
                                        .carousel-item {
                                            .pizzeria_img {
                                                @include mix.box_img(100%, 100%, center, img_pizzeria, 100%, 100%);
                                            }
                                        }
                                    }
                                }
                            }

                            .bota_txt {
                                @include mix.box_txt(column, flex-start, 98%, txt_bota, 0.01rem, medium);
                            }

                            .bota_img {
                                @include mix.box_img(100%, 100%, center, img_bota, 100%, fit-content);
                                padding-bottom: 4rem;
                            }

                            .torque_txt {
                                @include mix.box_txt(column, flex-start, 98%, txt_torque, 0.01rem, medium);
                            }

                            .torque_img {
                                @include mix.box_img(100%, 100%, center, img_torque, 100%, fit-content);
                                padding-bottom: 4rem;
                            }
                        }

                        .grid_container_highlighted {
                            /*--------------------HIGHLIGHTED--------------*/
                            row-gap: 0.1rem;
                            grid-template-columns: auto auto;
                            grid-template-rows: repeat(auto);
                            grid-template-areas:
                                "txt_electrico txt_electrico"
                                "img_electrico img_electrico"
                                "txt_chancador txt_chancador"
                                "carousel_chancador carousel_chancador"
                            ;

                            .electrico_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_electrico, 0.1rem, larger);
                            }

                            .electrico_img {
                                @include mix.box_img(100%, 100%, center, img_electrico, 100%, 100%);
                                padding-bottom: 4rem;
                            }

                            .chancador_txt {
                                @include mix.box_txt(column, flex-start, 100%, txt_chancador, 0.1rem, larger);
                            }

                            .carousel {
                                grid-area: carousel_chancador;
                                padding-bottom: 4rem;
                                .carousel-inner {
                                    .carousel-item {
                                        .chancador_img {
                                            @include mix.box_img(100%, 100%, center, img_chancador, 100%, 100%);
                                        }
                                    }
                                }
                            }
                        }
                        
                        .grid_container_organic{
                            /*---------------------ORGANIC--------------------------*/
                            padding-top: 2rem;
                            display: grid;
                            row-gap: 2rem;
                            grid-template-columns: auto auto;
                            grid-template-rows: repeat(auto);
                            grid-template-areas:
                                "txt_mario txt_mario"
                                "img_mario img_mario"
                                "txt_seguridad txt_seguridad"
                                "img_seguridad1 img_seguridad2" 
                            ;
                            width: 100%;
                            justify-content: center;    

                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 375px, txt_mario, 00.1rem, medium);
                            }

                            .mario_img {
                                @include mix.box_img(100%, 100%, center, img_mario, 100%, 375px);
                            }

                            .seguridad_txt{
                                @include mix.box_txt(column, flex-start, 375px, txt_seguridad, 0.1rem, medium);
                            }

                            .seguridad_img1{
                                @include mix.box_img(100%, 180px, center, img_seguridad1, 180px,375px);
                            }
                            .seguridad_img2{
                                @include mix.box_img(100%, 180px, center, img_seguridad2, 180px, 375px);
                            }
                        }

                        .config_flex_clients {
                            .cliente1{
                                /*------------------CLIENTS.......575..............*/
                                padding: 0.1rem;
                                flex-direction: column;
                                .box_txt_cl_torque {
                                    width: 100%;
                                    @include mix.box_txt (column, flex-start, 100%, txt_clients, 0.1rem, medium);
                                }
                                div {
                                    .web_insert {
                                        /*Ajuste posicion insert pagina web*/
                                        width: 100%;
                                    }
                                }
                            }
                            
                            .cliente2{
                                padding: 0.1rem;
                                flex-direction: column;
                                .box_txt_cl_thone {
                                    width: 100%;
                                    @include mix.box_txt (column, flex-start, 100%, txt_clients, 0.1rem, medium);
                                }
                                div {
                                    width: 100%;
                                    .client1_img {  
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        .config_flex{
                            /*--------------ABOUT---575--------------*/
                            flex-direction:column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            .logo {
                                margin: 0.4rem;
                                width: 20%;

                            }
                            .box_txt_about {
                                @include mix.box_txt(column, fit-content, 100%, txt_about, 0.2rem, 16px);
                                    margin-left: 0.8rem;
                                    margin-right: 1.3rem;
                            }
                        }

                        .flex_center{
                            div{
                                .form_contact{
                                    /*----------- --CONTACT--380------------*/
                                    max-width: 50%;
                                    font-size: small;
                                
                                    ul {
                                        li {
                                            display: flex;
                                            width: 300px;
                                            label {
                                                font-size: small;
                                                width: 100px;
                                            }
                                            #mensaje{
                                                width: 61%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


footer {
    .container {
        .row {
            .col {
                .center {
                    div {
                        .icon {
                            /* -------------FOOTER---575--------*/
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}