@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------575--------------------*/

@media (max-width:575px) {

    /*-------------MAIN------------*/
    main {
        .highsquare{
            .container-fluid{
                .row{
                    .col{
                        .config_margin_txt {
                            margin-left: 1.2rem;
                            h1 {
                                margin-right: 0.5rem;
                            }
                            p {
                                margin-left: 1.0rem;
                                margin-right: 1.0rem;
                            }
                        }
                    }
                }
            }
        }
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            .text_over_img {
                                .img_ajustada_grid {
                                    @include mix.ajuste_de_imagen(100%, 100%, 50%, 50%);
                                }
                            }
                        }
                        div{
                            .gallery {
                                /*-------------PORTFOLIO-------575-----------*/
                                /* Ajuste para la grilla del Portfolio General */
                                grid-template-columns: repeat(2, 190px);
                                grid-template-areas:
                                    "portafolio1 portafolio2"
                                    "portafolio3 portafolio4"
                                    "portafolio5 portafolio6"
                                    "portafolio7 portafolio8"
                                    "portafolio9 portafolio10"
                                    "portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(100%, 190px, 50%, 50%);
                                    }
                                }
                            }
                        }

                        .config_flex{
                            flex-direction:column;
                            .box_txt_clients {
                                /*----------- --CLIENTS--575------------*/
                                @include mix.box_txt(column, self-start, 100%, 0.2rem, small);
                            }
                            div{
                                .web_insert {
                                    /*Ajuste tamaño insert pagina web  380*/
                                    width: 380px;
                                }
                            }
                            .logo {
                                /*--------------ABOUT---575--------------*/
                                margin: 0.4rem;
                                width: 20%;

                                .image_about {
                                    width: 100%;
                                }
                            }
                            .box_txt_about {
                                @include mix.box_txt(column, fit-content, 100%, 0.2rem, 16px);
                                    margin-left: 0.8rem;
                                    margin-right: 1.3rem;
                            }
                        }


                        .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT----575----------*/
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 200px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, 0.1rem, small);
                                }

                                .box_img {
                                    @include mix.box_img(50vh, center, imagen, 370px, 100%);
                                    width: 370px;
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 200px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, 0.1rem, small);
                                }

                                .carousel {
                                    .carousel-inner {
                                        .carousel-item {
                                            .box_img {
                                                @include mix.box_img(50vh, center, imagen, 370px, 100%);
                                                width: 370px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        .triciclo {
                            .row_txt_img {
                                /*---------------HARDSURFACE---575-------*/
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 200px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, 0.1rem, small);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, center, imagen, 370px, 300px);
                                }
                            }
                        }

                        .auto {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 200px 300px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, flex-start, 100%, 0.2rem, small);
                                }

                                .carousel {
                                    .carousel-inner {
                                        .carousel-item {
                                            .box_img {
                                                @include mix.box_img(40vh, center, imagen, 370px, 100%);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .bota {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 370px;
                                grid-template-rows: 200px 300px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, fit-content, 100%, 0.1rem, small);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, center, imagen, 370px, 100%);
                                }
                            }
                        }

                        .torque {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 300px 300px;
                                gap: 2px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, flex-start, 100%, 0.1rem, small);
                                }

                                .box_img {
                                    @include mix.box_img(40vh, center, imagen, 380px, 100%);
                                }
                            }
                        }
                        
                        .pizzeria {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 300px 300px;
                                grid-template-areas:
                                    "texto"
                                    "imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, flex-start, 100%, 0.1rem, small);
                                }
                                
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(40vh, center, imagen, 380px, 100%);
                                            } 
                                        }
                                    }
                                }
                            }
                        }

                        .mario{
                            .row_txt_img1 {
                                /*----------------ORGANIC---575------------*/
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 260px 450px;
                                grid-template-areas:
                                    "texto" 
                                    "imagen1"
                                ;
                                width: 100%;
                                justify-content: center;
                                .box_txt {
                                    @include mix.box_txt(column, center, 90%, 0.3rem, small);
                                }

                                .box_img_tall_1{
                                    .tall_img_0 {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .seguridad{                            
                            .row_img1_img2_txt {
                                display: grid;
                                grid-template-columns: 380px;
                                grid-template-rows: 280px 450px 450px;
                                grid-template-areas:
                                "texto"
                                "imagen1" 
                                "imagen2" 
                                ;
                                width: 100%;
                                justify-content: center;
                                .box_txt {
                                    @include mix.box_txt(column, center, 90%, 0.3rem, small);
                                }

                                .box_img_tall_1{
                                    .tall_img {
                                        width: 220px;
                                    }
                                }

                                .box_img_tall_2{
                                    .tall_img {
                                        width: 220px;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}


footer {
    .container {
        .row {
            .col {
                .center {
                    div {
                        .icon {
                            /* -------------FOOTER---575--------*/
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}