@use "sass:map";
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;
@use '../utilities/maps';

/*----------------768--------------------*/

@media (max-width:768px) {

    header {
        .img_logo {
            /*-------------HEADER--768-------*/
            min-width: 90%;
        }
        .menu_completo {
            min-width: 10%;
            .nav {
                /*Oculta el menu mientras se muestra el icono de menú hamburguesa en el header*/
                display: none;
                visibility: hidden;
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: end;
                gap: 1.0rem;
                position: absolute;
                top: -1rem;
                right: -5rem;
                background-color: map.get(maps.$colores,highsq_back);
                padding: 2rem;
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

                &.visible {
                    opacity: 1;
                    visibility: visible;
                }

                .cerrar_menu {
                    display: block;
                    border: 0;
                    color: map.get(maps.$colores,txt);
                    font-size: 1.5rem;
                    background-color: transparent;
                }

                .nav_list {
                    font-size: small;
                    flex-direction: column;
                    align-items: end;

                    .submenu {
                        &:hover {
                            &>ul {
                                display: flex;
                                flex-direction: column;
                                position: absolute;
                                background-color: map.get(maps.$colores,highsq_back);
                                padding: 1.5rem;
                                gap: 1rem;
                                top: 0.5rem;
                                left: -50px;
                                background-color: map.get(maps.$colores,back);
                                font-size:small;
                            }
                        }
                    }
                }
            }
        }

        .abrir_menu {
            /*Configuracion del menu Hamburguesa */
            display: block;
            border: 0;
            color: map.get(maps.$colores,txt);
            font-size: 1.5rem;
            background-color: transparent;
            padding: 3%;
        }
    } 
    
    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .config_margin_txt {
                            div {
                                nav {
                                    .links_internos {
                                        /*-------------------MAIN 768-------------------*/
                                        gap: 5px;
                                        font-size: x-small;
                                    }
                                }
                            }
                        }
                        .center {
                            .text_over_img {
                                .img_ajustada_high {
                                    margin: 0%;
                                    width: 100%;
                                    height: 30vh;
                                    object-fit: cover;
                                    /* La imagen se recorta para cubrir el contenedor */
                                    object-position: 45% 50%;
                                    /* El centro de la imagen se alinea al 45% del ancho y 50% de la altura */
                                }
                            }
                        }
                    }
                }
            }
        }
        
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            /*-----------------INDEX-----768-------*/
                            margin: 1.5%;
                            display: grid;
                            grid-template-columns: 1fr;
                            gap: 0px;
                            place-items: center;
                            grid-template-rows: auto;
                            /* La altura se ajusta al contenido */
                            grid-template-areas:
                                "organic"
                                "hardsurface"
                            ;
                            .text_over_img {
                                .img_ajustada_grid {
                                    width: 100%;
                                    height: 25vh;
                                    object-fit: cover;
                                    /* La imagen se recorta para cubrir el contenedor */
                                    object-position: 50% 50%;
                                    /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura */
                                    margin: 3px 0 3px 0;
                                }
                            }
                        }
                        div{
                            .gallery {
                                /*-------------PORTFOLIO------768--------------*/
                                /* Ajuste para la grilla del Portfolio General */
                                grid-template-columns: repeat(2, 220px);
                                grid-template-areas:
                                    "portafolio1 portafolio2"
                                    "portafolio3 portafolio4"
                                    "portafolio5 portafolio6"
                                    "portafolio7 portafolio8"
                                    "portafolio9 portafolio10"
                                    "portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        /* Ajuste para imagenes del Portfolio General */
                                        width: 100%;
                                        height: 200px;
                                        object-fit: cover;
                                        /* La imagen se recorta para cubrir el contenedor */
                                        object-position: 50% 50%;
                                        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura*/
                                    }
                                }
                            }
                        }
                        .config_flex{
                            .box_txt_clients {
                                /*--------CLIENTS----768-----*/
                                @include mix.box_txt(column, self-start, 40%, 2.5rem, small);
                            }
                            div{
                                .web_insert {
                                    margin-top: 5%;
                                } 
                            
                                .box_txt_about {
                                    p {
                                        /*----------ABOUT----768------*/ 
                                        font-size: small;
                                        margin-left: 0.5rem;
                                        margin-right: 3.0rem;
                                    }
                                }
                            }
                            
                        }
                        
                        .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT---768----------*/
                                display: grid;
                                grid-template-columns: 250px 400px;
                                grid-template-rows: 300px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 5px 0 5px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, small);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: 300px;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        width: 400px;
                                        height:300px;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 400px 250px;
                                grid-template-rows: 300px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 5px 0 5px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, small);
                                }
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                height: 300px;
                                                .comun_img {
                                                    width: 400px;
                                                    height:100%;
                                                    object-fit: cover;
                                                }
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                    
                        .triciclo {
                            .row_txt_img {
                                /*---------------HARDSURFACE--768--------*/
                                display: grid;
                                grid-template-columns: 150px 400px;
                                grid-template-rows: 300px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, small);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    justify-content: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 400px;
                                    }
                                }
                            }
                        }
                        .bota {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 400px 150px;
                                grid-template-rows: 300px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, small);
                                }
                                
                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    justify-content: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 400px;
                                    }
                                }
                            }
                        }
                        .torque {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 150px 400px;
                                grid-template-rows: 300px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, small);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    justify-content: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        max-width: 400px;
                                    }
                                }
                            }
                        }
                        .auto {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 400px 200px;
                                grid-template-rows: 300px;
                                grid-template-areas:
                                    "imagen texto"
                                ;
                                width: 100%;
                                justify-content: center;
                                
                                .box_txt{
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, small);
                                }
                                
                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                display: flex;
                                                width: 100%;
                                                height: 40vh;
                                                justify-content: center;
                                                align-items: center;
                                                grid-area: imagen;

                                                .comun_img {
                                                    max-width: 400px;
                                                    max-height: 100%;
                                                    object-fit: cover;
                                                }
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        .pizzeria {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 150px 400px;
                                grid-template-rows: 300px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 10px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, small);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                display: flex;
                                                width: 100%;
                                                height: 40vh;
                                                justify-content: center;
                                                align-items: center;
                                                grid-area: imagen;

                                                .comun_img {
                                                    max-width: 400px;
                                                    max-height: 100%;
                                                    object-fit: cover;
                                                }
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                        
                        .mario{
                            .row_txt_img1 {
                                /*----------------ORGANIC---768------------*/
                                display: grid;
                                grid-template-columns: 400px 200px;
                                grid-template-areas:
                                "texto imagen1"
                                ;
                            
                                .box_txt {
                                    @include mix.box_txt(column, self-start, 80%, 0.5rem, small);
                                }

                                .box_img_tall_1{
                                    .tall_img_0 {
                                        width: 200px;
                                    }
                                }
                            }
                        }
                        .seguridad{                            
                            .row_img1_img2_txt {
                                display: grid;
                                grid-template-columns: 100px 100px 400px;
                                grid-template-rows: 50vhpx;
                                grid-template-areas:
                                "imagen1 imagen2 texto"
                                ;

                                .box_txt {
                                    @include mix.box_txt(column, self-start, 100%, 0.5rem, small);
                                }

                                .box_img_tall_1{
                                    .tall_img {
                                        width: 100%;
                                    }
                                }

                                .box_img_tall_2{
                                    .tall_img {
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        .center_flex{
                            div{
                                .form_contact {
                                    /*-------------FORMULARIO DE CONTACTO---768---------*/
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }            
    }
}