@use "sass:map";
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;
@use '../utilities/maps';

/*----------------768--------------------*/

@media (max-width:768px) {

    header {
        .img_logo {
            /*-------------HEADER--768-------*/
            min-width: 90%;
        }
        .menu_completo {
            min-width: 10%;
            .nav {
                /*Oculta el menu mientras se muestra el icono de menú hamburguesa en el header*/
                display: none;
                visibility: hidden;
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: end;
                gap: 1.0rem;
                position: absolute;
                top: -1rem;
                right: -5rem;
                background-color: map.get(maps.$colores,highsq_back);
                padding: 2rem;
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

                &.visible {
                    opacity: 1;
                    visibility: visible;
                }

                .cerrar_menu {
                    display: block;
                    border: 0;
                    color: map.get(maps.$colores,txt);
                    font-size: 1.5rem;
                    background-color: transparent;
                }

                .nav_list {
                    font-size: small;
                    flex-direction: column;
                    align-items: end;

                    .submenu {
                        &:hover {
                            &>ul {
                                display: flex;
                                flex-direction: column;
                                position: absolute;
                                background-color: map.get(maps.$colores,highsq_back);
                                padding: 1.5rem;
                                gap: 1rem;
                                top: 0.5rem;
                                left: -50px;
                                background-color: map.get(maps.$colores,back);
                                font-size:small;
                            }
                        }
                    }
                }
            }
        }

        .abrir_menu {
            /*Configuracion del menu Hamburguesa */
            display: block;
            border: 0;
            color: map.get(maps.$colores,txt);
            font-size: 1.5rem;
            background-color: transparent;
            padding: 3%;
        }
    } 
    
    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .config_margin_txt {
                            div {
                                nav {
                                    .links_internos {
                                        /*-------------------MAIN 768-------------------*/
                                        gap: 15px;
                                        font-size: medium;
                                    }
                                }
                            }
                        }
                        .center {
                            .text_over_img {
                                .img_ajustada_high {
                                    margin: 0%;
                                    @include mix.ajuste_de_imagen(100%, 30vh, 45%, 50%);
                                }
                            }
                        }
                    }
                }
            }
        }
        
        section {
            .container {
                .row {
                    .col {
                        .center_grid {
                            /*-----------------INDEX-----768-------*/
                            margin: 1.5%;
                            display: grid;
                            grid-template-columns: 1fr;
                            gap: 0px;
                            place-items: center;
                            grid-template-rows: auto;
                            /* La altura se ajusta al contenido */
                            grid-template-areas:
                                "organic"
                                "hardsurface"
                            ;
                            .text_over_img {
                                .img_ajustada_grid {
                                    @include mix.ajuste_de_imagen(100%, 25vh, 50%, 50%);
                                    margin: 3px 0 3px 0;
                                }
                            }
                        }
                        div{
                            .gallery {
                                /*-------------PORTFOLIO------768--------------*/
                                /* Ajuste para la grilla del Portfolio General */
                                grid-template-columns: repeat(2, 220px);
                                grid-template-areas:
                                    "portafolio1 portafolio2"
                                    "portafolio3 portafolio4"
                                    "portafolio5 portafolio6"
                                    "portafolio7 portafolio8"
                                    "portafolio9 portafolio10"
                                    "portafolio11 portafolio12";
                                width: 100%;
                                justify-content: center;

                                div{
                                    .img_ajustada_port {
                                        @include mix.ajuste_de_imagen(100%, 200px, 50%, 50%);
                                    }
                                }
                            }
                        }
                        .config_flex_clients{
                            .box_txt_clients {
                                /*--------CLIENTS----768-----*/
                                @include mix.box_txt(column, flex-start, 40vw, txt_clients, 0.1rem, small);
                            }

                            div {
                                width: 90vw;
                            }
                        }
                        .config_flex{                           
                            .box_txt_about {
                                /*----------ABOUT----768------*/ 
                                @include mix.box_txt(column, flex-start, 80%, txt_about, 0.5rem, small);
                            }     
                        }
                        
                        .grid_container_organic{
                            /*---------------------ORGANIC--------------------------*/
                            padding-top: 0.5rem;
                            .mario_txt {
                                @include mix.box_txt(column, flex-start, 300px, txt_mario, 00.1rem, medium);
                            }

                            .mario_img {
                                @include mix.box_img(100%, 100%, center, img_mario, 100%, 350px);
                            }

                            .seguridad_txt{
                                margin-left: 10px;
                                @include mix.box_txt(column, flex-start, 300px, txt_seguridad, 0.1rem, medium);
                            }

                            .seguridad_img1{
                                @include mix.box_img(100%, 200px, center, img_seguridad1, 200px,350px);
                            }
                            .seguridad_img2{
                                @include mix.box_img(100%, 200px, flex-start, img_seguridad2, 200px, 350px);
                            }
                        }

                        .flex_center{
                            div{
                                .form_contact{
                                    /*----------- --CONTACT--380------------*/
                                    max-width: 50%;
                                    font-size: medium;
                                
                                    ul {
                                        li {
                                            display: flex;
                                            width: 500px;
                                            label {
                                                font-size: medium;
                                                width: 100px;
                                            }
                                            #mensaje{
                                                width: 61%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }            
    }
}