@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------960-------------------*/
@media (max-width:990px) {
    header {
        .menu_completo {
            /*--------HEADER---------*/
            min-width: 58%;
            .nav {
                .nav_list {
                    font-size: x-small;

                    .submenu {
                        &>ul {
                            font-size:x-small;
                        }
                    }
                }
            }
        }
    }

}