/*----------------960-------------------*/
/*--------HEADER---------*/
@media (max-width:990px) {
    header {
        .menu_completo {
            min-width: 58%;
            .nav {
                .nav_list {
                    font-size: x-small;

                    .submenu {
                        &>ul {
                            font-size:x-small;
                        }
                    }
                }
            }
        }
    }

    /*INDEX 1024*/
    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .center_grid {
                            .text_over_img {
                                .img_ajustada_grid {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}