@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;
/*----------------960-------------------*/
/*--------HEADER---------*/
@media (max-width:990px) {
    header {
        .menu_completo {
            min-width: 58%;
            .nav {
                .nav_list {
                    font-size: x-small;

                    .submenu {
                        &>ul {
                            font-size:x-small;
                        }
                    }
                }
            }
        }
    }

    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        /*---------------HIGHLIGHT-------------*/
                        .electrico {
                            .row_txt_img {
                                display: grid;
                                grid-template-columns: 300px 500px;
                                grid-template-rows: 300px;
                                grid-template-areas:
                                    "texto imagen"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 5px 0 5px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, center, 100%, 0.5rem, medium);
                                }

                                .box_img {
                                    display: flex;
                                    width: 100%;
                                    height: 50vh;
                                    justify-content: center;
                                    align-items: center;
                                    grid-area: imagen;

                                    .comun_img {
                                        width: 500px;
                                        height:100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}