@use '../base/variables' as v;
@use '../utilities/extend';
@use '../utilities/mixin.scss' as mix;

/*----------------960-------------------*/
@media (max-width:990px) {
    header {
        .menu_completo {
            /*--------HEADER---------*/
            min-width: 58%;
            .nav {
                .nav_list {
                    font-size: x-small;

                    .submenu {
                        &>ul {
                            font-size:x-small;
                        }
                    }
                }
            }
        }
    }

    main {
        .highsquare {
            .container-fluid {
                .row {
                    .col {
                        .electrico {
                            .row_txt_img {
                                /*---------------HIGHLIGHT-----960------*/
                                display: grid;
                                grid-template-columns: 200px 400px;
                                grid-template-areas:
                                    "txt_electrico img_electrico"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 5px 0 5px 0;
                                
                                .box_txt {
                                    @include mix.box_txt(column, center, 100%, txt_electrico, 0.5rem, medium);
                                }

                                .box_img {
                                    @include mix.box_img(50vh, 100%, center, img_electrico, 400px, 100%);
                                }
                            }
                        }
                        .chancador {
                            .row_img_txt {
                                display: grid;
                                grid-template-columns: 400px 200px;
                                grid-template-areas:
                                    "img_chancador txt_chancador"
                                ;
                                width: 100%;
                                justify-content: center;
                                margin: 10px 0 30px 0;

                                .box_txt{
                                    @include mix.box_txt(column, flex-start, 100%, txt_chancador, 0.5rem, medium);
                                }

                                .carousel{
                                    .carousel-inner{
                                        .carousel-item{
                                            .box_img {
                                                @include mix.box_img(fit-content, 100%, center, img_chancador, 400px, 100%);
                                                
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}