@use 'q1800px';
@use 'q1400px';


/*----------------1200--------------------*/

@media (max-width:1201px) {

    /*INDEX*/

    /*Configuracion de la posicion de las imagenes del grid */
    .center_grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        place-items: center;
        grid-template-rows: auto;
        /* La altura se ajusta al contenido */
        grid-template-areas:
            "organic"
            "hardsurface"
        ;
    }

        /*INDEX*/

    .img_ajustada_grid {
        width: 900px;
        height: 100%;
        object-fit: cover;
        /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%;
        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura */
        margin: 5px 0 5px 0;
    }

    /*PORTFOLIO GENERAL*/

    .img_ajustada_port {
        width: 250px;
        height: 250px;
        object-fit: cover;
        /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%;
        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura*/
    }

    /* Ajuste para la grilla del Portfolio General */
    .gallery {
        grid-template-columns: repeat(3, 250px);
        grid-template-areas:
            "portafolio1 portafolio2 portafolio3"
            "portafolio4 portafolio5 portafolio6"
            "portafolio7 portafolio8 portafolio9"
            "portafolio10 portafolio11 portafolio12";
        width: 100%;
        justify-content: center;
    }

    /*HARDSURFACE*/
    .row_txt_img {
        display: grid;
        grid-template-columns: 200px 700px;
        grid-template-areas:
            "texto imagen"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_img_txt {
        display: grid;
        grid-template-columns: 700px 200px;
        grid-template-areas:
            "imagen texto"
        ;
        width: 100%;
        justify-content: center;
    }

    .comun_img {
        max-width: 600px;
        max-height: 100%;
        object-fit: cover;
    }
}

/*----------------993--------------------*/

@media (max-width:993px) {

    /*Oculta el menu mientras se muestra el icono de menú hamburguesa en el header*/
    header nav {
        display: none;
    }

    .abrir_menu,
    .cerrar_menu {
        display: block;
    }

    .nav_list {
        flex-direction: column;
        align-items: end;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    header nav ul li.submenu:hover>ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: black;
        padding: 2rem;
        gap: 1rem;
        top: 30px;
        left: -50px;
        font-size: smaller;
        background-color: #212121;
    }

    /*INDEX 993*/

    .img_ajustada_grid {
        width: 640px;
        height: 100%;
        object-fit: cover;
        /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%;
        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura */
        margin: 5px 0 5px 0;
    }

    /* Ajuste para la grilla del Portfolio General */
    .gallery {
        grid-template-columns: repeat(3, 200px);
        grid-template-areas:
            "portafolio1 portafolio2 portafolio3"
            "portafolio4 portafolio5 portafolio6"
            "portafolio7 portafolio8 portafolio9"
            "portafolio10 portafolio11 portafolio12";
        width: 100%;
        justify-content: center;
    }

    /* Ajuste para imagenes del Portfolio General */
    .img_ajustada_port {
        width: 200px;
        height: 200px;
        object-fit: cover;
        /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%;
        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura*/
    }

    /*Ajuste para imagenes del Portfolio Hardsurface, Highlighted y Organic. Tamaño imagenes en 991*/
    .comun_img {
        max-width: 500px;
        max-height: 100%;
        object-fit: cover;
    }

    .tall_img {
        max-width: 500px;
        max-height: 500px;
    }

    .box_txt {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        color: antiquewhite;
        grid-area: texto;
    }

    .row_txt_img {
        display: grid;
        grid-template-columns: 200px 500px;
        grid-template-areas:
            "texto imagen"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_img_txt {
        display: grid;
        grid-template-columns: 500px 200px;
        grid-template-areas:
            "imagen texto"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_txt_img1 {
        display: grid;
        grid-template-columns: 250px 500px;
        grid-template-areas:
            "texto imagen1"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_img1_img2_txt {
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-areas:
            "imagen1 imagen2 texto"
        ;
        width: 100%;
        justify-content: center;
    }

    /*CLIENTS*/
    /*Ajuste tamaño insert pagina web*/
    .web_insert {
        max-width: 600px;
    }

    /*CONTACT*/



    /*FOOTER*/

    .icon {
        height: 35px;
    }
}

/*----------------767--------------------*/

@media (max-width:768px) {

    /*Configuracion de los links del body*/
    .edit_links {
        text-decoration: none;
        font-size: 0.6rem;
        text-transform: uppercase;
        font-weight: none;
        color: azure;
        text-align: left;
    }

    .links_internos {
        display: flex;
        list-style: none;
        gap: 10px;
    }

        /*INDEX*/
    .img_ajustada_grid {
        width: 500px;
        height: 100%;
        object-fit: cover;
        /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%;
        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura */
        margin: 5px 0 5px 0;
    }

    /*PORTFOLIO*/
    /* Ajuste para la grilla del Portfolio General */
    .gallery {
        grid-template-columns: repeat(2, 150px);
        grid-template-areas:
            "portafolio1 portafolio2"
            "portafolio3 portafolio4"
            "portafolio5 portafolio6"
            "portafolio7 portafolio8"
            "portafolio9 portafolio10"
            "portafolio11 portafolio12";
        width: 100%;
        justify-content: center;
    }

    /* Ajuste para imagenes del Portfolio General */
    .img_ajustada_port {
        width: 150px;
        height: 150px;
        object-fit: cover;
        /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%;
        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura*/
    }

    /*Ajuste para imagenes del Portfolio Hardsurface, Highlighted y Organic.*/
    .comun_img {
        max-width: 400px;
        max-height: 100%;
    }

    .tall_img {
        max-width: 300px;
        max-height: 300px;
    }

    .box_img {
        display: flex;
        width: 100%;
        justify-content: center;
        grid-area: imagen;
    }

    .row_txt_img {
        display: grid;
        grid-template-columns: 150px 400px;
        grid-template-rows: 300px;
        grid-template-areas:
            "texto imagen"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_img_txt {
        display: grid;
        grid-template-columns: 400px 150px;
        grid-template-rows: 300px;
        grid-template-areas:
            "imagen texto"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_img1_img2_txt {
        display: grid;
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 300px;
        grid-template-areas:
            "imagen1 imagen2 texto"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_txt_img1 {
        display: grid;
        grid-template-columns: 150px 300px;
        grid-template-rows: 300px;
        grid-template-areas:
            "texto imagen1"
        ;
        width: 100%;
        justify-content: center;
    }

    /*CLIENTS*/
    /*Ajuste tamaño insert pagina web*/
    .web_insert {
        max-width: 500px;
    }

    /*CONTACT*/

    /*Ajuste tamaño form mensaje*/

    #mensaje {
        max-width: 260px;
    }
}


/*----------------575--------------------*/

@media (max-width:575px) {

    /*Configuracion de los links del body*/
    .edit_links {
        text-decoration: none;
        font-size: 0.4rem;
        text-transform: uppercase;
        font-weight: none;
        color: azure;
        text-align: left;
    }

    .links_internos {
        display: flex;
        list-style: none;
        gap: 10px;
    }

    /*INDEX*/
    .img_ajustada_grid {
        width: 340px;
        height: 100%;
        object-fit: cover;
        /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%;
        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura */
        margin: 5px 0 5px 0;
    }

    /*ORGANIC, HARDSURFACE, HIGHLIGHT*/

    .comun_img {
        max-width: 279px;
        max-height: 100%;
    }

    .tall_img {
        max-width: 110px;
        max-height: 300px;
    }

    .box_txt {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 79px;
        width: 100%;
        height: 100%;
        color: antiquewhite;
        grid-area: texto;
    }

    .row_txt_img {
        display: grid;
        grid-template-columns: 80px 280px;
        grid-template-rows: 100%;
        grid-template-areas:
            "texto imagen"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_img_txt {
        display: grid;
        grid-template-columns: 280px 80px;
        grid-template-rows: 100%;
        grid-template-areas:
            "imagen texto"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_img1_img2_txt {
        display: grid;
        grid-template-columns: 110px 110px 110px;
        grid-template-rows: 300px;
        grid-template-areas:
            "imagen1 imagen2 texto"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_txt_img1 {
        display: grid;
        grid-template-columns: 120px 230px;
        grid-template-rows: 300px;
        grid-template-areas:
            "texto imagen1"
        ;
        width: 100%;
        justify-content: center;
    }

    /*CLIENTS*/

    /*Ajuste tamaño insert pagina web*/
    .web_insert {
        max-width: 378px;
    }

    /*CONTACT*/

    /*Ajuste tamaño form mensaje*/
    #mensaje {
        max-width: 190px;
    }

    /*FOOTER*/

    .icon {
        height: 25px;
    }

}

/*----------------380--------------------*/

@media (max-width:380px) {

    /*INDEX*/
    .img_ajustada_grid {
        width: 290px;
        height: 100%;
        object-fit: cover;
        /* La imagen se recorta para cubrir el contenedor */
        object-position: 50% 50%;
        /* El centro de la imagen se alinea al 50% del ancho y 50% de la altura */
        margin: 5px 0 5px 0;
    }

    .comun_img {
        max-width: 260px;
        max-height: 100%;
    }

    .row_txt_img {
        display: grid;
        grid-template-columns: 70px 260px;
        grid-template-rows: 100%;
        grid-template-areas:
            "texto imagen"
        ;
        width: 100%;
        justify-content: center;
    }

    .row_img_txt {
        display: grid;
        grid-template-columns: 260px 70px;
        grid-template-rows: 100%;
        grid-template-areas:
            "imagen texto"
        ;
        width: 100%;
        justify-content: center;
    }


    /*CLIENTS*/
    /*Ajuste tamaño insert pagina web*/
    .web_insert {
        max-width: 300px;
    }

    /*CONTACT*/

    /*Ajuste tamaño form mensaje*/

    #mensaje {
        max-width: 160px;
    }
}