/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
}

/* Configuracion del Body de las diferentes paginas */
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #212121;
}

/* Tamaños titulos, configuraciones de los textos*/
h1 {
    font-size: clamp(0.8rem, 2.0vw, 2.2rem);
    text-transform: uppercase;
}

h2 {
    font-size: 2.4em;
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    font-size: clamp(0.8rem, 2.0vw, 2.2rem);
    text-transform: uppercase;
}

h4 {
    font-size: clamp(0.4rem, 1.8vw, 2.0rem);
    text-transform: uppercase;
}

p {
    font-size: clamp(0.4rem, 0.8vw, 1.0rem);
}

span {
    font-size: clamp(0.4rem, 0.9vw, 1.2rem);
}

label {
    font-size: clamp(0.6rem, 0.9vw, 1.1rem);
}

.config_txt {
    padding: 1%;
    color: antiquewhite;
    text-align: left;
}

.center {
    display: grid;
    place-items: center;
}

/*Configuracion de los links del main*/
.edit_links {
    text-decoration: none;
    font-size: small;
    text-transform: uppercase;
    font-weight: 500;
    color: azure;
    text-align: left;
    margin-bottom: 5px;
}

.links_internos {
    display: flex;
    list-style: none;
    gap: 20px;
}

.edit_links a:visited {
    color: rgb(211, 175, 128);
}
