/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
}

/* Configuracion del Body de las diferentes paginas */
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background: #9241d9;
    background: radial-gradient(circle,rgba(146, 65, 217, 1) 0%, rgba(33, 33, 33, 1) 89%);
}

/* Tamaños titulos, configuraciones de los textos*/
h1 {
    font-size: clamp(0.8rem, 2.0vw, 2.2rem);
    text-transform: uppercase;
}

h2 {
    font-size: clamp(0.7rem, 1.9vw, 2.1rem);
    text-transform: uppercase;
}

h3 {
    font-size: clamp(18px, 1.8vw, 2.0rem);
    text-transform: uppercase;
}

h4 {
    font-size: clamp(16px, 1.7vw, 1.9rem);
    text-transform: uppercase;
}

p {
    font-size: clamp(16px, 0.8vw, 0.9rem);
}

span {
    font-size: clamp(0.3rem, 0.9vw, 1.1rem);
}

label {
    font-size: clamp(0.5rem, 0.9vw, 1.1rem);
}

