/*Centra con grid*/
.center {
    display: grid;
    place-items: center;
}

/*Configuracion de los links solitarios*/
.edit_links {
    text-decoration: none;
    font-size: small;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(163, 202, 223);
    text-align: left;
    margin-bottom: 5px;
}

